@import url("spinner.css");


img.placeholder {
  width: auto;
  height: 100%;
}

.hero {    
    background-image: url(../images/site-map.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* PANELS */
svg {
    background-color: #fff;
    border: 1px solid black;
}
svg.viz {
  height: 700px;
  border: 1px solid rgba(0,0,0,.54);
}
svg circle {
  cursor: pointer;
}
/* Apply first to panels */
.info-panel {
  border: 1px solid rgba(0,0,0,.54);
}

.viz-panel {
    text-align: center;

  height: 500px;
  position: relative;
}
.scale {
  position: absolute;
  bottom: 0;
  left: 0;
}
.pagerank-panel {
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}
.pagerank-links {padding-left: 0;}
.pagerank-rank,
.pagerank-url {font-size: .75rem;}
.pagerank-rank {padding-left: .5rem;}
.link-details-panel {
  height: 300px;
  overflow-y: auto;
}

svg.viz {
  height: 700px;
  border: 1px solid rgba(0,0,0,.54);
}
.tag-pills>a {
  padding: 0 .6rem 0;
  border-radius: 0;
  color: #FFFFFF;
  background-color: #5000BE;
  display: inline-block;
  margin: 2px;
}
