@import url("spinner.css");

.hero {    
    background-image: url(../images/site-map.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* PANELS */
svg {
    background-color: #fff;
    border: 1px solid black;
}
svg.viz {
  height: 700px;
  border: 1px solid rgba(0,0,0,.54);
}
svg circle {
  cursor: pointer;
}
/* Apply first to panels */
.info-panel {
  border: 1px solid rgba(0,0,0,.54);
}

.viz-panel,
.pagerank-panel {
  height: 500px;
}
.viz-panel {
  position: relative;
}
.scale {
  position: absolute;
  bottom: 0;
  left: 0;
}
.pagerank-panel {
  overflow-y: auto;
  overflow-x: hidden;
}

.link-details-panel {
  height: 300px;
  overflow-y: auto;
}
svg.viz {height: 700px; border: 1px solid rgba(0,0,0,.54);}