@import url("spinner.css");
.viz-container {
  position: relative;
}
.placeholder {
  border: 1px solid rgba(0,0,0,.54);
}
.scale {
  position: absolute;
  bottom: 1px;
  left: 1px;
}
.hero {    
    background-image: url(../images/site-map.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Imported style */
svg {
    background-color: #fff;
    border: 1px solid black;
}
svg circle {
  cursor: pointer;
}
.viz-container {
  margin-top:        0px;
  margin-bottom:     0px;
}
.pagerank-panel label,
.link-details-panel label {

}
.pagerank-panel {
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid rgba(0,0,0,.54);
}
.pagerank-panel table {
  width: 100%;
}
.pagerank-panel table td {
  cursor: pointer;
  padding-right: 5px;
}
.link-details-panel {
  height: 240px;
  overflow-y: auto;
  margin-top: 10px;
}

.inline-form-control {width: 333px}

.svg.viz {height: 700px; border: 1px solid #888; }

.link-details-panel {height: 300px}
