	<%= header_begin %>
	
	<%= segment_script %>

	<title>Search Unstructured Video – Algorithmia</title>
	<link rel="canonical" href="https://demos.algorithmia.com/video-search/" />
	<meta name="description" content="Automatically search unstructured videos using Algorithmia video tagging.">

	<!-- FB -->
	<meta property="og:title" content="Search Unstructured Video">
	<meta property="og:url" content="https://demos.algorithmia.com/video-search/">
	<meta property="og:description" content="Automatically search unstructured videos using Algorithmia video tagging">
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="https://demos.algorithmia.com/video-search/public/images/fbshare.jpg" />
	<meta property="og:site_name" content="Algorithmia" />

	<!-- TWTR -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@algorithmia" />
	<meta name="twitter:title" content="Search Unstructured Video" />
	<meta name="twitter:description" content="Automatically search unstructured videos using Algorithmia video tagging" />
	<meta name="twitter:image" content="https://demos.algorithmia.com/video-search/public/images/twshare.jpg" />
	<meta name="twitter:creator" content="@algorithmia" />

	<!-- OTHER -->
	<meta itemprop="name" content="Search Unstructured Video">
	<meta itemprop="description" content="Automatically search unstructured videos using Algorithmia video tagging">

	<%= header_end %>

	<section class="purple-grad-background hero">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Search Unstructured Video</h1>
					<h4 class="secondary-light whitespace-md">Use Computer Vision and Deep Learning to search untagged video</h4>
				</div>
				<div class="col-sm-12 col-md-6">
					<div class="card">
						<div id="status-label"></div>
						<h3 class="dark">Search our video database for an object</h3>
						<p class="secondary whitespace-none">Examples:
							<a class="search-link" href="javascript:search('chair')">chair</a>,
							<a class="search-link" href="javascript:search('couch')">couch</a>,
							<a class="search-link" href="javascript:search('rabbit')">rabbit</a>,
							<a class="search-link" href="javascript:search('elephant')">elephant</a></p>
						<form class="search-form" onsubmit="search(); return false;">
							<input type="text" class="form-control" id="search-query" placeholder="Search">
							<button class="btn btn-primary">
								<span id="analyze-button-text">
									<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
									Search
								</span>
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

  <div id="overlay" class="container hidden">
    <div class="dots-text-container">
      <h3 class="dots-text">Searching videos...</h3>
    </div>
    <div class="dots-container">
        <div class="dot dot1"></div>
        <div class="dot dot2"></div>
        <div class="dot dot3"></div>
        <div class="dot dot4"></div>
    </div>
  </div>

	<!-- RESULTS -->
	<section class="container hidden" id="results">
		<div class="row">
			<div class="col-md-12">
				<div class="explanation">
					<h2 class="border-bottom whitespace">Search results</h2>
					<p class="whitespace-md"><b id="search-results-query">Your search keyword</b> was found in these videos using <a href="https://algorithmia.com/algorithms/media/VideoMetadataExtraction">VideoMetadataExtraction</a>.</p>
					<h4 id="no-results" class="whitespace-lg hidden">Your object was not found in any videos</h4>
					<ul id="search-results"></ul>
				</div>
			</div>
		</div>
	</section>

	<!-- EXPLANATION -->
	<div class="grey-background">
	<section class="container">
		<div class="row row-md">
			<div class="col-md-12">
				<h2 class="whitespace-none">How it works</h2>
				<h4>Using computer vision to search unstructured video</h4>
			</div>
		</div>
		<div class="row row-md">
			<div class="col-md-8">
				<h3>Tools used</h3>
				<ul>
					<li><a href="https://algorithmia.com/algorithms/media/VideoMetadataExtraction">Video Metadata Extraction</a> – extract metadata from each frame of a video</li>
					<li><a href="https://algorithmia.com/algorithms/deeplearning/InceptionNet">InceptionNet</a> – automatically tag images</li>
				</ul>
			</div>
		</div>
		<div class="row row-md">
			<div class="col-md-8">
				<h3>Source Data</h3>
				<p>This demo uses videos pulled directly from YouTube, but can easily be modified to handle any video source by either downloading them directly from a remote source, or by using the <a href="https://algorithmia.com/developers/data/">Data API</a> to connect to Dropbox or Amazon S3.</p>
			</div>
		</div>
		<div class="row row-md">
			<div class="col-md-12">
				<h3>Processing steps</h3>
				<ul class="explaination-steps">
					<li class="row">
						<div class="col-md-12">
							<p class="lg item-title">1. Download video</p>
						</div>
						<div class="col-sm-3">
							<img class="" src="public/images/step01.png">
						</div>
						<div class="col-sm-9 col-md-6">
							<p>The video file is downloaded from YouTube, Dropbox, S3, or another source, and its file format is examined before proceeding.</p>
						</div>
					</li>
					<li class="row">
						<div class="col-md-12">
							<p class="lg item-title">2. Split in frames</p>
						</div>

						<div class="col-sm-9 col-md-6">
							<p>The <a href="https://algorithmia.com/algorithms/media/VideoMetadataExtraction">Video Metadata Extraction</a> algorithm splits the video into frames, then processes them in batches.</p>
						</div>
						<div class="col-sm-3">
							<img src="public/images/step02.png">
						</div>
					</li>
					<li class="row">
						<div class="col-md-12">
							<p class="lg item-title">3. Auto-generate frame tags</p>
						</div>
						<div class="col-sm-3">
							<img src="public/images/step03.png">
						</div>
						<div class="col-sm-9 col-md-6">
							<p>Tags and annotations describing each frame are generated using <a href="https://algorithmia.com/algorithms/deeplearning/InceptionNet">InceptionNet</a> and other image classification/extraction algorithms.</p>
						</div>
					</li>
					<li class="row">
						<div class="col-md-12">
							<p class="lg item-title">4. Search tags</p>
						</div>

						<div class="col-sm-9 col-md-6">
							<p>After the video is processed, timestamps are assigned to each extracted tag, allowing users to search across one or many videos for specific tags.</p>
						</div>
						<div class="col-sm-3">
							<img src="public/images/step04.png">
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<h3>Takeaway</h3>
				<p>With just a few dozen lines of code and a couple spare hours, it's possible to build an entire video processing and tagging pipeline on top of Algorithmia's tools. Add in a few other relevant algorithms such as <a href="https://algorithmia.com/algorithms/spotify/Annoy">Approximate Nearest Neighbors Clustering</a>, <a href="https://algorithmia.com/algorithms/zskurultay/ImageSimilarity">Image Similarity</a>, or <a href="https://algorithmia.com/algorithms/deeplearning/DeepFilter">Deep Filter</a>, and you can quickly build a video recommender engine, copy detector, or filter.</p>
			</div>
		</div>
	</section>
	</div>

  <!-- BUILT FOR DEVS -->
  <section class="container">
    <div class="row">
      <div class="col-md-9">
        <h2 class="whitespace-sm">Built For Developers</h2>
        <h4 class="whitespace-md">A simple, scalable API for machine intelligence</h4>
          <p class="item-title">SAMPLE INPUT</p>
          <pre class="whitespace-md"><code class="python hljs"><span class="hljs-keyword">import</span> Algorithmia
input = {
  <span class="hljs-string">"input_file"</span>: <span class="hljs-string">"data://path/to/file.mp4"</span>,
  <span class="hljs-string">"output_file"</span>: <span class="hljs-string">"data://save/data.json"</span>,
  <span class="hljs-string">"algorithm"</span>: <span class="hljs-string">"algo://deeplearning/IllustrationTagger/0.2.5"</span>
}
client = Algorithmia.client(<span class="hljs-string">'API KEY'</span>)
algo = client.algo(<span class="hljs-string">'media/VideoMetadataExtraction/0.1.5'</span>)
<span class="hljs-keyword">print</span> algo.pipe(input)</code>
</pre>
            <p class="item-title">SAMPLE OUTPUT</p>
            <pre><code class="json hljs">{
  "output_file": "data://save/data.json"
}</code></pre>
        <a href="https://algorithmia.com/algorithms/media/VideoMetadataExtraction" class="btn btn-primary-inverse">
          LEARN MORE
        </a>
      </div>
    </div>
  </section>

  <!-- JS -->
  <script src="public/js/TweenMax.min.js"></script>
  <script src="public/js/dots.js"></script>

  <%= footer %>