<!-- JOIN -->
<section class="grey-background">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Join the thousands of developers already building intelligent apps</h3>
        <p class="lg">Get 10,000 additional credits when you sign up using the code "<span class="invite_code">demos</span>"</p>
        <a href="https://algorithmia.com/signup?invite=demo" class="btn btn-success invite_link">
          SIGN UP FOR FREE
        </a>
      </div>
    </div>
  </div>
</section>

<!-- FEATURES -->
<section class="container">
    <div class="row" id="feature-row">
        <div class="col-sm-6 col-md-4 feature">
            <h4>Algorithms as a Microservice</h4>
            <p>Leverage an ever-growing library of more than 2,800 algorithmic microservices via an intuitive API. We provide the tools and manage the cloud infrastructure needed to run it at scale.</p>
            <a class="btn btn-flat" href="http://developers.algorithmia.com/application-development/guides/">Learn more</a>
        </div>
        <div class="col-sm-6 col-md-4 feature">
            <h4>Web Services for Business Logic</h4>
            <p>Instantly deploy your backend code as an API for public or private consumption. Every algorithm runs as it's own microservice, making each composable, interoperable, and secure. </p>
            <a class="btn btn-flat" href="http://blog.algorithmia.com/algorithms-as-microservices/">Learn more</a>
        </div>
        <div class="col-sm-6 col-md-4 feature">
            <h4>Hosted Trained Models</h4>
            <p>Have a trained machine learning or deep learning model? Turn it into a serverless microservices in minutes. We'll show you how to get started for free, and scale with ease. </p>
            <a class="btn btn-flat" href="http://developers.algorithmia.com/algorithm-development/model-guides/">Learn more</a>
        </div>
    </div>
</section>

<footer>
  <div class="container md-padding">
    <div class="row row-sm">
      <div class="col-md-12">
        <div class="pull-left">
          &copy; Algorithmia 2017
        </div>
        <ul class="list-inline pull-right">
          <li><a href="https://algorithmia.com/about">About</a></li>
          <li><a href="https://algorithmia.com/terms">Terms</a></li>
          <li><a href="https://algorithmia.com/privacy">Privacy</a></li>
          <li><a href="http://blog.algorithmia.com" target="_blank">Blog</a></li>
          <li><a href="https://angel.co/algorithmia/jobs/" target="_blank">Jobs</a></li>
          <li><a href="https://algorithmia.com/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- JS -->
<script src="<%= demo_root %>/public/js/jquery.min.js"></script>
<script src="<%= demo_root %>/public/js/bootstrap.min.js"></script>
<script src="<%= demo_root %>/public/js/highlight.pack.js"></script>
<!-- Algorithmia JavaScript client: https://algorithmia.com/docs/clients/javascript/ -->
<script src="<%= demo_root %>/public/js/algorithmia.js"></script>
<!-- Sample App code -->
<script src="<%= demo_root %>/public/js/common.js"></script>
<script src="<%= demo_root %>/public/js/main.js?v=[[VERSION]]"></script>

</body>
</html>