<div class="row"> 
    <div class="col-md-1 algo-grade code_info code-score"></div>
    <div class="col-md-8">
        <h4>Code Samples</h4>
        <p>
          It should go without saying that code samples are extremely helpful. Many developers jump straight to code examples, rather than reading the documentation. Here, we attempt to make recommendations relative to the average number of code samples in the most popular repositories.
        </p>

        <p>
          The average README has 8.33 code samples. 
        </p>
    </div>
</div>
<div class="row inserted-recs" id="code_recommendation">
  <div class="col-md-8 col-md-offset-1">   
      <ul class="media-list">
        <li class="media">
          <div class="media-body">
            <div class="media">
              <div class="media-left media-top">
                <div id="code-recommendation-operation" class="operation"></div>
              </div>
              <div class="media-body">
                <span id="code-recommendation-value"></span>
              </div>
            </div>

        </div>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-1">
   <p>
      <a href="http://blog.algorithmia.com/2016/04/github-readme-analyzer/" target="_blank">Help me understand this score</a>.
    </p>
  </div>
</div>