<div class="row"> 
  <div class="col-md-1 algo-grade headers_info headers-score"></div>
  <div class="col-md-8">
      <h4>Section Headers</h4>
        <p>
          Having clear section headers help users quickly find what they're looking for. Our recommendations provide guidance on what sections you should consider adding, changing, or removing. In many cases, section headers can come in multiple forms. Such as Install, Installing, or Installation. In these situations, we simply pick one, and recommend it. Feel free to pick your own flavor. 
        </p>
  </div>
</div>

<div class="row inserted-recs">
  <div class="col-md-8 col-md-offset-1">   
      <ul class="media-list">
        <li class="media">
          <div class="media-body">
            <div class="media">
              <div class="media-left media-top">
                <div id="header-rec-operation" class="operation"></div>
              </div>
              <div class="media-body">
                <span id="header-rec-value"></span>
              </div>
            </div>
        </div>
      </li>
    </ul>
  </div>
</div>


<div class="row" id="headers-recommendation-list"></div>

<div class="row">
  <div class="col-md-8 col-md-offset-1">
   <p>
      <a href="http://blog.algorithmia.com/2016/04/github-readme-analyzer/" target="_blank">Help me understand this score</a>.
    </p>
  </div>
</div>