<div class="row"> 
    <div class="col-md-1 algo-grade images_info image-score"></div>
    <div class="col-md-8">
         <h4>README Images</h4>
        <p>Popular repositories on GitHub often have images or badges in their README's. The badges indicate things like continious integration, build status, or package manager inclusion. Other types of images, such as screenshots or GIFs, can also be useful in conveying information about the output or how the code works.
        </p>
        <p>
          The average README has 2.89 images. 
        </p>
    </div>
</div>

<div class="row inserted-recs" id="images_recommendation">
  <div class="col-md-8 col-md-offset-1">   
      <ul class="media-list">
        <li class="media">
          <div class="media-body">
            <div class="media">
              <div class="media-left media-top">
                <div id="images-recommendation-operation" class="operation"></div>
              </div>
              <div class="media-body">
                <span id="images-recommendation-value"></span>
              </div>
            </div>
        </div>
      </li>
    </ul>
  </div>
</div>
