<div class="row"> 
    <div class="col-md-1 algo-grade length_info length-score"></div>
    <div class="col-md-8">
         <h4>README Length</h4>
        <p>
          The length of a README is an indicator of a well-documented repository. Like with code samples, some developers prefer to look at the code, while others prefer to read the documentation. By thoroughly documentating and describing the functionality of your project, you ensure that developers know how to use and take advantage of your code. 
        </p>
        <p>
          The average README is 9,078 characters long, with a standard deviation of 7,900.16. 
        </p>
    </div>
</div>

<div class="row inserted-recs" id="length_recommendation">
  <div class="col-md-8 col-md-offset-1">   
      <ul class="media-list">
        <li class="media">
          <div class="media-body">
            <div class="media">
              <div class="media-left media-top">
                <div id="length-recommendation-operation" class="operation"></div>
              </div>
              <div class="media-body">
                <span id="length-recommendation-value"></span>
              </div>
            </div>
        </div>
      </li>
    </ul>
  </div>
</div>
