<div class="row">
<!-- <div class="overview_info">  -->

  <div class="col-md-1 algo-grade overview-score overview_info"></div>
  <div class="col-md-8">
      <h4>Your README's Overall Grade</h4>
      	<p>Your overall score is calculated as an average of your Headers, Code Samples, Length, Paragraph, and Image scores. Each section provides insights and d</p>
   
  </div>
</div>
<!-- </div> -->
