<div class="overview_info"> 
  <div class="col-md-2 algo-grade overview-score"></div>
  <div class="col-md-10">
      <blockquote>
      This is your overall readme score. It is calculated as an average of your Headers, Code Samepls, Length , Paragraph and Images scores. To improve your overall Readme score please follow the suggestions under each section. 
      </blockquote>
  </div>
</div>
