<div class="row"> 
  <div class="col-md-1 algo-grade paragraph_info paragraph-score"></div>
  <div class="col-md-8">
      <h4>README Text</h4>
        <p>
          The text of your README is important, because it explains what your README is about, how it works, why you need it, and more. Your README should be readable, coherent, and clear. 
        </p>
        <p>
          Our model analyzes every word used throughout your README to suggest keywords commonly used in popular README's. For instance, if we recommend that you include a word like "globals," perhaps you should include a sentence or two describing the role of globals in your project.
        </p>
      
  </div>
</div>

<div class="row inserted-recs">
  <div class="col-md-8 col-md-offset-1">   
      <ul class="media-list">
        <li class="media">
          <div class="media-body">
            <div class="media">
              <div class="media-left media-top">
                <div id="paragraph-rec-operation" class="operation"></div>
              </div>
              <div class="media-body">
                <span id="paragraph-rec-value"></span>
              </div>
            </div>
        </div>
      </li>
    </ul>
  </div>
</div>


<div class="row" id="paragraphs-recommendation-list"></div>

<div class="row">
  <div class="col-md-8 col-md-offset-1">
   <p>
      <a href="http://blog.algorithmia.com/2016/04/github-readme-analyzer/" target="_blank">Help me understand this score</a>.
    </p>
  </div>
</div>




                                               