<div class="row">
  <div class="panel panel-info">
    <div class="panel-heading">Your Score Card</div>
    <div class="panel-body row-centered" id="scores">
    
      <div class="col-md-2 score-box col-centered">
        <div class="score-grade length-score">A</div>
        <div id="length_caption" class="score_caption">Length</div>
      </div>
      <div class="col-md-2 score-box col-centered">
        <div class="score-grade headers-score">B</div>
        <div id="headers_caption" class="score_caption">Headers</div>
      </div>
<!--       <div class="col-md-2 score-box col-centered">
        <div class="score-grade paragraph-score">C</div>
        <div id="paragraph_caption" class="score_caption">Paragraphs</div>
      </div> -->
      <div class="col-md-2 score-box col-centered">
        <div class="score-grade code-score">D</div>
        <div id="code_caption" class="score_caption">Code Samples</div>
      </div>
      <div class="col-md-2 score-box col-centered">
        <div class="score-grade image-score">A+</div>
        <div id="image_caption" class="score_caption ">Images</div>
      </div>

    </div>
  </div>
</div>