---
title: Analyze READMEs with Natural Language Processing & Algorithmia.
description: "Think you've got a great README? Try comparing it to our trained model based on the top repositories and see how you line up."
url: "http://localhost:4567"
summary: "Think you've got a great README? Try comparing it to our trained model based on the top repositories and see how you line up."
---

<div class="content-container">  
  <div class="container" id="content">
    <div class="row hero-background">
          <div class="container hero">
            <div id="pitch" class="col-md-7">
              <!-- <div class="col-md-8"> -->
                <h1>GitHub README Analyzer</h1>
                <h2 class="lead">Algorithmically improve your GitHub README</h2>
                    
                      <form>
                        <div class="form-group">
                          <p>Type in any GitHub <code>username/repository</code></p>
                          <input type="text" class="form-control" id="repository" placeholder="rspec/rspec-mocks">
                          <button class="btn btn-primary" type="button" onclick="callAlgorithm()">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            Analyze It
                          </button>
                          <p>
                            <small>
                              Examples: <a href"#"><code>fbsamples/f8app</code></a> - <a href="http://algorithmia.com"><code>scikit-learn/scikit-learn</code></a>
                            </small>
                          </p>

                        </div>
                        <span class="aspinner hidden" id="algo-spinner"></span>
                        <span id="status-label"></span>
                      </form>
                    
              <!-- </div> -->
            </div>
          </div>
    </div>
  
  <div class="row main-content">
    <div class="container">
      
      <div id="overlay" class="hidden">
        <div class="dots-container">
          <div class="dot dot1"></div>
          <div class="dot dot2"></div>
          <div class="dot dot3"></div>
          <div class="dot dot4"></div>
        </div>  
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="explanation">
            <h4>
              Think you've got a great README?
            </h4>
            <p>
              We know writing a GitHub README can be a challenge. And, how do you know makes a README any good? 
            </p>
            <p>
              Instead of guessing, we used natural language processing, and machine learning to train a model on the 10,000 most starred GitHub repositories, across the 10 most popular programming langauges. Learn more about our <a href="#">data science approach to analyzing README's here</a>, and learn how you can  <a href="#">host your own data science models as algorithms</a>.
            </p>
            <p>
             Try it out: We'll analyze your README, score it, and provide suggestions and recommendations for improving it across five categories.
            </p>

          </div>
        </div>
      </div>
      
      <div class="hidden" id="recs"> 
        <hr>  
        <%= partial "recommendations" %>
      </div>
      
      </div>
    </div>
  </div>
</div>
  