@import url("spinner.css");

.hero {    
    background-image: url(../images/newspaper.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.card .form-control {
  margin-bottom: 1rem;
  width: 95%;
}

.text-danger {display: block; margin-top: .5rem;}

#output section {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(0,0,0,.12);
}

#output section:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}
.sentiment p:last-of-type {margin-bottom: 0;}
.item-title  {
  color: rgba(0,0,0,.54);
  margin-bottom: 0;
  text-transform: uppercase;
}
.result,
.tags       {margin-bottom: 1rem;}
.label  {
  border-radius: 0;
}
select {
  -webkit-appearance:none;
  -moz-appearance:none;
}
.label-info {
  background-color: #5000BE;
}
.tag-label {margin-bottom: 0;}
span.label {
  font-size: .75rem;
  line-height: 2;
}

.form-group {
  margin-bottom: 6px;
}
