<%= header_begin %>

<%= segment_script %>

	<title>Deep Learning to Identify Features and Automatically Tag in an Image – Algorithmia</title>
	<link rel="canonical" href="https://demos.algorithmia.com/<%= slug %>" />
	<meta name="description" content="Use deep learning algorithms to identify features and assign tags with Illustration Tagging microservices">
	<meta name="robots" content="index,follow">

	<!-- FB -->
	<meta property="og:title" content="Identify Features and Automatically Tag Images">
	<meta property="og:url" content="https://demos.algorithmia.com/iamge-tagger/">
	<meta property="og:description" content="Use deep learning algorithms to identify features and assign tags with Illustration Tagging microservices">
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="https://demos.algorithmia.com/classify-places/public/images/fbshare.png" />
	<meta property="og:site_name" content="Algorithmia" />

	<!-- TWTR -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@algorithmia" />
	<meta name="twitter:title" content="Identify Features and Automatically Tag Images" />
	<meta name="twitter:description" content="Use deep learning algorithms to identify features and assign tags with Illustration Tagging microservices" />
	<meta name="twitter:image" content="https://demos.algorithmia.com/classify-places/public/images/twshare.png" />
	<meta name="twitter:creator" content="@algorithmia" />

	<!-- OTHER -->
	<meta itemprop="name" content="Identify Features and Automatically Tag Images">
	<meta itemprop="description" content="Use deep learning algorithms to identify features and assign tags with Illustration Tagging microservices">

	<%= header_end %>

	<section class="purple-grad-background hero">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h1>Image Tagging</h1>
					<h4 class="light whitespace-md">Use Deep Learning to Identify Features in an Image</h4>
					<div class="card">
						<h3 class="whitespace">Select an image</h3>
						<p class="whitespace-none">Paste the URL to an image or <br class="hidden-sm hidden-md hidden-lg hidden-xl" ><a href="javascript:;" id="file-dropzone" ><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> UPLOAD</a></p>
						<form class="form-group" onsubmit="getInfo(); return false;">
							<input type="text" class="form-control" id="imgUrl" placeholder="http://">
							<a class="btn btn-primary" type="button" onclick="getInfo()">
								<span class="fa fa-magic" aria-hidden="true"></span>
								Autotag It
							</a>
						</form>
						<div id="status-label"></div>
						<h4 class="dark whitespace-sm">Or, try these sample images:</h4>
						<div class="row whitespace-none sample-images">
							<div class="col-xs-4 col-sm-2 sample-image">
								<a onclick="getInfo('https://s3.amazonaws.com/demos.algorithmia.com/<%= slug %>/public/images/dog_safe.jpg')"><img src="<%= slug %>/public/images/dog_safe.jpg"></a>
							</div>
							<div class="col-xs-4 col-sm-2 sample-image">
								<a onclick="getInfo('https://s3.amazonaws.com/demos.algorithmia.com/<%= slug %>/public/images/yosemite_safe.jpg')"><img src="<%= slug %>/public/images/yosemite_safe.jpg"></a>
							</div>
							<div class="col-xs-4 col-sm-2 sample-image">
								<a onclick="getInfo('https://s3.amazonaws.com/demos.algorithmia.com/<%= slug %>/public/images/obama_safe.jpg')"><img src="<%= slug %>/public/images/obama_safe.jpg"></a>
							</div>
							<div class="col-xs-4 col-sm-2 sample-image">
								<a onclick="getInfo('https://s3.amazonaws.com/demos.algorithmia.com/<%= slug %>/public/images/train_safe.jpg')"><img src="<%= slug %>/public/images/train_safe.jpg"></a>
							</div>
							<div class="col-xs-4 col-sm-2 sample-image">
								<a onclick="getInfo('https://s3.amazonaws.com/demos.algorithmia.com/<%= slug %>/public/images/mini_safe.jpg')"><img src="<%= slug %>/public/images/mini_safe.jpg"></a>
							</div>
							<div class="col-xs-4 col-sm-2 sample-image">
								<a onclick="getInfo('https://s3.amazonaws.com/demos.algorithmia.com/<%= slug %>/public/images/teddy_safe.jpg')"><img src="<%= slug %>/public/images/teddy_safe.jpg"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	  <div id="overlay" class="container hidden">
	    <div class="dots-text-container">
	      <h3 class="dots-text">Examining image...</h3>
	    </div>
	    <div class="dots-container">
	        <div class="dot dot1"></div>
	        <div class="dot dot2"></div>
	        <div class="dot dot3"></div>
	        <div class="dot dot4"></div>
	    </div>
	  </div>

	<!-- RESULTS PAGE -->
	<section class="container hidden" id="results">
		<div class="explanation">
			<div class="row">
				<div class="col-sm-6">
					<img id="userImg">
				</div>
				<div class="col-sm-6">
					<table class="table">
						<thead>
							<tr>
								<th><p class="item-title">IllustrationTagger</p></th>
								<th width="80"><p class="item-title">Probability</p></th>
							</tr>
						</thead>
						<tbody id="results1"></tbody>
					</table>
					<table class="table">
						<thead>
							<tr>
								<th><p class="item-title">InceptionNet</p></th>
								<th width="80"><p class="item-title">Probability</p></th>
							</tr>
						</thead>
						<tbody id="results2"></tbody>
					</table>
				</div>
			</div>
		</div>
	</section>

	<!-- EXPLANATION PAGE -->
	<div class="grey-background">
		<section class="container">
			<div class="explanation">
				<div class="row row-md">
					<div class="col-md-12">
						<h2 class="whitespace-none">How it works</h2>
						<h4>Quickly Identify Features and Automatically Tag Images</h4>
					</div>
					<div class="col-md-8">
						<p>Our state-of-the-art deep learning models can dentify features in images, but different models produce slightly different results. We host a variety of different implementations, so you can pick the one(s) which work best for you!</p>
						<p>The <a href="https://algorithmia.com/algorithms/deeplearning/IllustrationTagger" target="_blank">IllustrationTagger</a> and <a href="https://algorithmia.com/algorithms/deeplearning/InceptionNet" target="_blank">InceptionNet</a> microservices are just two of the many <a href="http://blog.algorithmia.com/2016/07/cloud-hosted-deep-learning-models/" target="_blank">cloud-scaled CNN deep-learning models</a> hosted on Algorithmia which can recognize hundreds of different features in images.</p>
                        <p>IllustrationTagger is a version of <a href="http://illustration2vec.net/papers/illustration2vec-main.pdf" target="_blank">Saito, Masaki and Matsui, Yusuke. (2015). Illustration2Vec: A Semantic Vector Representation of Illustrations. SIGGRAPH Asia Technical Briefs. 2015</a>. Learn more about their work <a href="http://illustration2vec.net/" target="_blank">here</a>.</p>
						<p>InceptionNet is a direct implementation of <a href="https://algorithmia.com/algorithms/deeplearning/InceptionNet" target="_blank">Google's InceptionNet</a>, which was trained on the <a href="http://image-net.org/challenges/LSVRC/2015/" target="_blank">ImageNet 2015 dataset</a>. It is implemented using Google's <a href="https://www.tensorflow.org/" target="_blank">Tensorflow</a> python bindings.</p>
						<p>Let us know what you think <a href="https://twitter.com/algorithmia" target="_blank">@Algorithmia</a> or by <a href="https://algorithmia.com/contact" target="_blank">email</a>.</p>
					</div>
				</div>
			</div>
		</section>
	</div>

  <!-- BUILT FOR DEVS -->
  <section class="container">
    <div class="row">
      <div class="col-md-9">
        <h2 class="whitespace-sm">Built For Developers</h2>
        <h4 class="whitespace-md">A simple, scalable API for machine intelligence</h4>
          <p class="item-title">SAMPLE INPUTr</p>
          <pre><code class="python hljs"><span class="hljs-keyword">import</span> Algorithmia

image = "_IMAGE_URL_"
client = Algorithmia.client(<span class="hljs-string">"_API_KEY_"</span>)

tagger1 = client.algo(<span class="hljs-string">"deeplearning/IllustrationTagger/0.2.5"</span>)
tagger2 = client.algo(<span class="hljs-string">"deeplearning/InceptionNet/1.0.3"</span>)

<span class="hljs-keyword">print</span> <span class="hljs-string">"IllustrationTagger:"</span>, tagger1.pipe({<span class="hljs-string">"image"</span>: image})
<span class="hljs-keyword">print</span> <span class="hljs-string">"InceptionNet:"</span>, tagger2.pipe(image)
</code></pre>
            <p class="item-title">SAMPLE OUTPUT</p>
<pre><code class="json hljs"><span class="hljs-string">IllustrationTagger:</span>
{
  <span class="hljs-attr">"rating"</span>: [
    {<span class="hljs-attr">"safe"</span>: <span class="hljs-number">0.9961</span>}
  ],
  <span class="hljs-attr">"general"</span>: [
    {<span class="hljs-attr">"no humans"</span>: <span class="hljs-number">0.7062</span>},
    {<span class="hljs-attr">"monochrome"</span>: <span class="hljs-number">0.6084</span>}
  ]
}

<span class="hljs-string">InceptionNet:</span>
{
  <span class="hljs-attr">"tags"</span>: [
    {
      <span class="hljs-attr">"class"</span>: <span class="hljs-string">"cliff, drop, drop-off"</span>,
      <span class="hljs-attr">"confidence"</span>: <span class="hljs-number">0.4765</span>
    },
    {
      <span class="hljs-attr">"class"</span>: <span class="hljs-string">"alp"</span>,
      <span class="hljs-attr">"confidence"</span>: <span class="hljs-number">0.1755</span>
    }
  ]
}</code></pre>
        <a href="https://algorithmia.com/algorithms/deeplearning/InceptionNet" class="btn btn-primary-inverse">
          LEARN MORE
        </a>
      </div>
		</div>
		
		<div class="col-md-9" style="padding: 1em; margin-bottom: 1em; background-color: #eee;">
			<h3>Image Credits</h3>
			<ul>
				<li>"<a rel="nofollow" href="https://commons.wikimedia.org/wiki/File:Terrier_mixed-breed_dog.jpg">Terrier mixed-breed</a>" by <a rel="nofollow" href="https://www.flickr.com/photos/95609644@N00">Chris Barber</a> is licensed under <a rel="nofollow" href="https://creativecommons.org/licenses/by/2.0/deed.en">CC BY 2.0</a></li>
				<li>"<a rel="nofollow" href="https://commons.wikimedia.org/wiki/File:Tunnel_View,_Yosemite_Valley,_Yosemite_NP_-_Diliff.jpg">Tunnel View, Yosemite Valley, Yosemite NP</a>" by <a rel="nofollow" href="https://commons.wikimedia.org/wiki/User:Diliff">David Iliff</a> is licensed under <a rel="nofollow" href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">CC BY-SA 3.0</a></li>
				<li>"<a rel="nofollow" href="https://commons.wikimedia.org/wiki/File:President_Barack_Obama.jpg">President Barack Obama</a>" by <a rel="nofollow" href="https://en.wikipedia.org/wiki/Pete_Souza">Pete Souza</a> is in the <a rel="nofollow" href="https://en.wikipedia.org/wiki/public_domain">public domain</a></li>
				<li>"<a rel="nofollow" href="https://commons.wikimedia.org/wiki/File:BNSF_5350_20040808_Prairie_du_Chien_WI.jpg">Train</a>" by <a rel="nofollow" href="https://commons.wikimedia.org/wiki/User:Slambo">Sean Lamb</a> is licensed under <a rel="nofollow" href="https://creativecommons.org/licenses/by-sa/2.0/deed.en">CC BY-SA 2.0</a></li>
				<li>"<a rel="nofollow" href="https://commons.wikimedia.org/wiki/File:Morris_Mini-Minor_1959_(621_AOK).jpg">Mini</a>" by <a rel="nofollow" href="https://commons.wikimedia.org/wiki/User:DeFacto">DeFacto</a> is licensed under <a rel="nofollow" href="https://creativecommons.org/licenses/by-sa/2.5/deed.en">CC BY-SA 2.5</a></li>
				<li>"<a rel="nofollow" href="https://commons.wikimedia.org/wiki/File:Pierre_Despereax_09.19.2012_(8004871773).jpg">Teddy Bear</a>" by <a rel="nofollow" href="https://www.flickr.com/photos/thepeachpeddler/8004871773/">Pierre Despereax</a> is licensed under <a rel="nofollow" href="https://creativecommons.org/licenses/by-sa/2.0/deed.en">CC BY-SA 2.0</a></li>
			</ul>
		</div>
  </section>

  <!-- JS -->
  <script src="<%= slug %>/public/js/TweenMax.min.js"></script>
  <script src="<%= slug %>/public/js/dots.js"></script>
  <script src="<%= slug %>/public/js/dropzone.js"></script>

  <%= footer %>