<%= header_begin %>

	<title>Deep Learning to Identify Features and Automatically Tag in an Image – Algorithmia</title>
	<link rel="canonical" href="http://demos.algorithmia.com/image-tagger/" />
	<meta name="description" content="Use deep learning algorithms to identify features and assign tags with the Illustration Tagger microservice">
	<meta name="robots" content="index,follow">

	<!-- FB -->
	<meta property="og:title" content="Identify Features and Automatically Tag Images">
	<meta property="og:url" content="http://demos.algorithmia.com/iamge-tagger/">
	<meta property="og:description" content="Use deep learning algorithms to identify features and assign tags with the Illustration Tagger microservice">
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="http://demos.algorithmia.com/classify-places/public/images/fbshare.png" />
	<meta property="og:site_name" content="Algorithmia" />

	<!-- TWTR -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@algorithmia" />
	<meta name="twitter:title" content="Identify Features and Automatically Tag Images" />
	<meta name="twitter:description" content="Use deep learning algorithms to identify features and assign tags with the Illustration Tagger microservice" />
	<meta name="twitter:image" content="http://demos.algorithmia.com/classify-places/public/images/twshare.png" />
	<meta name="twitter:creator" content="@matt_kiser" />

	<!-- OTHER -->
	<meta itemprop="name" content="Identify Features and Automatically Tag Images">
	<meta itemprop="description" content="Use deep learning algorithms to identify features and assign tags with the Illustration Tagger microservice">

	<%= header_end %>

	<section class="purple-grad-background hero">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h1>Image Tagging</h1>
					<h4 class="light whitespace-md">Use Deep Learning to Identify Features in an Image</h4>
					<div class="card">
						<h3 class="whitespace">Select an image</h3>
						<p class="whitespace-none">Paste the URL to an image or <br class="hidden-sm hidden-md hidden-lg hidden-xl" ><a href="javascript:;" id="file-dropzone" ><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> UPLOAD</a></p>
						<form class="form-group" onsubmit="getInfo(); return false;">
							<input type="text" class="form-control" id="imgUrl" placeholder="http://">
							<a class="btn btn-primary" type="button" onclick="getInfo()">
								<span class="fa fa-magic" aria-hidden="true"></span>
								Autotag It
							</a>
						</form>
						<div id="status-label"></div>
						<h4 class="dark whitespace-sm">Or, try these sample images:</h4>
						<div class="row whitespace-none sample-images">
							<div class="col-xs-4 col-sm-2 sample-image">
								<a onclick="getInfo('https://s3.amazonaws.com/algorithmia-assets/classifyplaces_static_content/alley_lg.jpg')"><img src="public/images/alley_sm.jpg"></a>
							</div>
							<div class="col-xs-4 col-sm-2 sample-image">
								<a onclick="getInfo('http://demos.algorithmia.com/image-tagger/public/images/trudeau.jpg')"><img src="public/images/trudeau.jpg"></a>
							</div> 
							<div class="col-xs-4 col-sm-2 sample-image">
								<a onclick="getInfo('https://s3.amazonaws.com/algorithmia-assets/classifyplaces_static_content/canyon_lg.jpg')"><img src="public/images/canyon_sm.jpg"></a>
							</div>
							<div class="col-xs-4 col-sm-2 sample-image">
								<a onclick="getInfo('https://s3.amazonaws.com/algorithmia-assets/classifyplaces_static_content/skyscraper_lg.jpg')"><img src="public/images/skyscraper_sm.jpg"></a>
							</div>
							<div class="col-xs-4 col-sm-2 sample-image">
								<a onclick="getInfo('https://s3.amazonaws.com/algorithmia-assets/classifyplaces_static_content/airplane_lg.jpg')"><img src="public/images/airplane_sm.jpg"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	  <div id="overlay" class="container hidden">
	    <div class="dots-text-container">
	      <h3 class="dots-text">Examining image...</h3>
	    </div>
	    <div class="dots-container">
	        <div class="dot dot1"></div>
	        <div class="dot dot2"></div>
	        <div class="dot dot3"></div>
	        <div class="dot dot4"></div>
	    </div>
	  </div>

	<!-- RESULTS PAGE -->
	<section class="container hidden" id="results">
		<div class="explanation">
			<div class="row">
				<div class="col-sm-6">
					<img id="userImg">
				</div>
				<div class="col-sm-6">
					<table class="table" id="table">
						<thead>
							<tr>
								<th><p class="item-title">Tags</p></th>
								<th><p class="item-title">Probability</p></th>
							</tr>
						</thead>
						<tbody id="results-tbody">
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>

	<!-- EXPLANATION PAGE -->
	<div class="grey-background">
		<section class="container">
			<div class="explanation">
				<div class="row row-md">
					<div class="col-md-12">
						<h2 class="whitespace-none">How it works</h2>
						<h4>Quickly Identify Features and Automatically Tag Images</h4>
					</div>
					<div class="col-md-8">
						<p>Use state-of-the-art deep learning to identify features in images. Just paste in a URL above.</p>
						<p>The <a href="https://algorithmia.com/algorithms/deeplearning/IllustrationTagger" target="_blank">Illustration Tagger microservice</a>, one of many <a href="http://blog.algorithmia.com/2016/07/cloud-hosted-deep-learning-models/" target="_blank">cloud hosted CNN deep-learning models</a> hosted on Algorithmia, can recognize hundreds of different features in images.</p>
						<p>This microservice is an implementation of <a href="http://illustration2vec.net/papers/illustration2vec-main.pdf" target="_blank">Saito, Masaki and Matsui, Yusuke. (2015). Illustration2Vec: A Semantic Vector Representation of Illustrations. SIGGRAPH Asia Technical Briefs. 2015.</a>. Learn more about their work <a href="http://illustration2vec.net/" target="_blank">here</a></p>
						<p>Let us know what you think <a href="https://twitter.com/algorithmia" target="_blank">@Algorithmia</a> or by <a href="https://algorithmia.com/contact" target="_blank">email</a>.</p>
					</div>
				</div>
			</div>
		</section>
	</div>

  <!-- BUILT FOR DEVS -->
  <section class="container">
    <div class="row">
      <div class="col-md-9">
        <h2 class="whitespace-sm">Built For Developers</h2>
        <h4 class="whitespace-md">A simple, scalable API for machine intelligence</h4>
          <p class="item-title">SAMPLE INPUT</p>
          <pre><code class="python hljs"><span class="hljs-keyword">import</span> Algorithmia

input = {<span class="hljs-string">"image"</span>: <span class="hljs-string">"_IMAGE_URL_"</span>}
client = Algorithmia.client(<span class="hljs-string">'_API_KEY_'</span>)
algo = client.algo(<span class="hljs-string">'deeplearning/IllustrationTagger/0.2.3'</span>)

<span class="hljs-keyword">print</span> algo.pipe(input)
</code></pre>
            <p class="item-title">SAMPLE OUTPUT</p>
            <pre><code class="json hljs">{
  <span class="hljs-attr">"rating"</span>: [
    {<span class="hljs-attr">"safe"</span>: <span class="hljs-number">0.9924461245536804</span>}
  ],
  <span class="hljs-attr">"general"</span>: [
    {<span class="hljs-attr">"1boy"</span>: <span class="hljs-number">0.9158311486244202</span>},
    {<span class="hljs-attr">"male"</span>: <span class="hljs-number">0.6592674255371094</span>},
    {<span class="hljs-attr">"black hair"</span>: <span class="hljs-number">0.42818406224250793</span>}
  ]
}</code></pre>
        <a href="https://algorithmia.com/algorithms/deeplearning/Places365Classifier" class="btn btn-primary-inverse">
          LEARN MORE
        </a>
      </div>
    </div>
  </section>

  <!-- JS -->
  <script src="public/js/TweenMax.min.js"></script>
  <script src="public/js/dots.js"></script>
  <script src="public/js/dropzone.js"></script>

  <%= footer %>