<!-- development version of VueJS (use https://cdn.jsdelivr.net/npm/vue@2.6.10 in production) -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<!-- axios for REST calls -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- basic Bootstrap4 CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!-- development version of VueJS (use https://cdn.jsdelivr.net/npm/vue@2.6.10 in production) -->

<div id="app">

  <h3>Simple CRM</h3>

  <div v-if="user">
    
    <div class="col-md-6">
      <img :src="user.avatar" alt="avatar" v-on:click="triggerAvatar" class="img-responsive">
      <div class="carousel-caption"><h3 class="text-secondary">Click to change</h3></div>
      
    </div>

    <form action="account" class="w-25, d-none" method="POST" enctype="multipart/form-data" v-on:submit.prevent>
      <input type="file" id="avatar" ref="avatar" accept="image/gif, image/jpg, image/jpeg, image/png" v-on:change="updateAvatar"/>
    </form>

    <p><textarea name="bio" v-model="user.bio" v-on:change="updateBio"></textarea></p>

    <p><button @click="logOut">Log Out</button></p>
    
  </div>

  <div v-if="!user">
    
      <form v-on:submit.prevent>
        <input type="text" placeholder="email" autocomplete="username" v-model="login.email"/>
        <input type="password" placeholder="password" autocomplete="current-password" v-model="login.password"/>
        <button @click="logIn">Log In</button> or <button @click="register">Register</button>
      </form>
    
  </div>

  <div class="text-danger">{{error}}</div>

</div>

<script src="/app.js"></script>