<!-- development version of VueJS (use https://cdn.jsdelivr.net/npm/vue@2.6.10 in production) -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<!-- axios for REST calls -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- basic Bootstrap4 CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!-- development version of VueJS (use https://cdn.jsdelivr.net/npm/vue@2.6.10 in production) -->

<div id="app">

  <h3>{{message}}</h3>

  <div v-if="user">
    
    <img :src="user.avatar" class="w-25" alt="avatar">
    <p>Bio: {{user.bio}}</p>

    <form action='account' method='POST' enctype='multipart/form-data'>
      <p><textarea name='bio' id='bio' placeholder='bio'>{{user.bio}}</textarea></p>
      <p><input type='file' name='avatar' id='avatar' accept='image/gif, image/jpg, image/jpeg, image/png'/></p>
      <p><input type='submit' name='submit'/></p>
    </form>

    <button @click="logOut">Log Out</button>
    
  </div>

  <div v-if="!user">

      <input type="text" placeholder="email" v-model="login.email"/>
      <input type="password" placeholder="password" v-model="login.password"/>
      <button @click="logIn">Log In</button> or <button @click="register">Register</button>
    
  </div>

  <div class="text-danger">{{error}}</div>

</div>

<script src="/app.js"></script>