/*Put Custom Styles Here*/


#twoface-demo canvas {
  max-width:100%;
  position: relative;
}

.sample-images {
	max-width:100%;
	border:1px white solid;
}

pre {
	padding: 0px;
	margin: 13px;
	border: 0px;
}

#social {
	margin-top: 16px;
	text-align: center;
}