.hero {
    background-image: url(../images/colorize-black-and-white-photos-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 50%;
}

.form-group {margin-bottom: 1.5rem;}
 /* For smaller screens */
.form-group input {width: 100%; margin-bottom: .5rem;}

.explanation {text-align: center;}

/* Move dots down to be over input field */
.dots-container {
  top: 36%;
}

#twoface-demo canvas {
  max-width:100%;
  position: relative;
}

.sample-image {
	padding-right: 0;
	margin-bottom: .5rem;
}
.sample-image:hover img {opacity: .7;}

.feature {margin-bottom: 2rem;}

/* $MEDIA QUERIES */
/* Extra small devices (phones, less than 768px) */
/* This should be the default AKA no styles here */
/*@media (min-width: @screen-xs-min) {}*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    form {
        /* vertical center */
    	display:        flex;
    	align-items:    center;
	}
	.form-group input {margin-bottom: 0;}
	.sample-image {
		margin-bottom: 0;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.feature {margin-bottom: 0;}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}