/*Put Custom Styles Here*/

@media (max-width: 767px){
	.visible-xs-block {
		padding-bottom: 10px;
	    display: block !important;
	}	
	.form-control{
		max-width: 100%;
	}
	.mb {
		margin-top:5px;
	}
}

#twoface-demo canvas {
  max-width:100%;
  position: relative;
}

.sample-images {
	max-width:100%;
	border:1px white solid;
}

pre {
	padding: 0px;
	margin: 13px;
	border: 0px;
}

#social {
	margin-top: 20px;
	text-align: center;
}

