	<%= header_begin %>

	<title>Extract Structured Data From Web Sites – Algorithmia</title>
	<link rel="canonical" href="http://demos.algorithmia.com/web-page-inspector/" />
	<meta name="description" content="An API to instantly retrieve clean, structured data from any URL, returned as useful JSON.">

	<!-- FB -->
	<meta property="og:title" content="Extract Structured Data From Web Sites">
	<meta property="og:url" content="http://demos.algorithmia.com/web-page-inspector/">
	<meta property="og:description" content="An API to instantly retrieve clean, structured data from any URL, returned as useful JSON.">
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="http://demos.algorithmia.com/web-page-inspector/public/images/web-page-inspector-fb.jpg" />
	<meta property="og:site_name" content="Algorithmia" />

	<!-- TWTR -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@algorithmia" />
	<meta name="twitter:title" content="Extract Structured Data From Web Sites" />
	<meta name="twitter:description" content="An API to instantly retrieve clean, structured data from any URL, returned as useful JSON." />
	<meta name="twitter:image" content="http://demos.algorithmia.com/web-page-inspector/public/images/web-page-inspector-twitter.jpg" />
	<meta name="twitter:creator" content="@matt_kiser" />

	<!-- OTHER -->
	<meta itemprop="name" content="Extract Structured Data From Web Sites">
	<meta itemprop="description" content="An API to instantly retrieve clean, structured data from any URL, returned as useful JSON.">

	<%= header_end %>

	<section class="purple-grad-background hero">
		<div class="container" id="content">
			<div class="row">
				<div class="col-md-7">
					<h1>Web Page Inspector</h1>
					<h4 class="light whitespace-md">An API to instantly retrieve clean, structured data from any URL</h4>
				</div>
				<div class="col-sm-12 col-md-7">
					<div class="card">
						<h3 class="whitespace">Analyze a URL</h3>
						<p class="whitespace-none">Paste the URL to an article to analyze it</p>
						<form class="form-group dots-form" onsubmit="analyzeUrl(); return false;">
							<input type="text" class="form-control" id="url" placeholder="http://">
							<button class="btn btn-primary btn-dots" type="button" onclick="analyzeUrl()">
								<span id="analyze-button-text">
									<span class="fa fa-magic" aria-hidden="true"></span>
									Analyze URL
								</span>
							</button>
						</form>
						<div id="status-label"></div>
						<h4 class="dark whitespace-sm">Or, try these sample articles:</h4>
						<div class="row whitespace-none sample-images">
							<div class="col-xs-3 col-sm-2 sample-image">
								<a onclick="analyzeUrl('http://thenewstack.io/algorithmia-new-algorithm-economy/')"><img src="public/images/newstack.png"></a>
							</div>
							<div class="col-xs-3 col-sm-2 sample-image">
								<a onclick="analyzeUrl('https://medium.com/emergent-future/machine-learning-trends-and-the-future-of-artificial-intelligence-2016-15c15cd6c129#.7vvstzebt')"><img src="public/images/machines.jpg"></a>
							</div>
							<div class="col-xs-3 col-sm-2 sample-image">
								<a onclick="analyzeUrl('http://blog.algorithmia.com/predictive-algorithms-track-real-time-health-trends/')"><img src="public/images/predictive.jpg"></a>
							</div>
							<div class="col-xs-3 col-sm-2 sample-image">
								<a onclick="analyzeUrl('http://www.wired.com/2014/08/algorithmia/')"><img src="public/images/wired.jpg"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

  <div id="overlay" class="container hidden">
    <div class="dots-text-container">
      <h3 class="dots-text">Analyzing URL...</h3>
    </div>
    <div class="dots-container">
        <div class="dot dot1"></div>
        <div class="dot dot2"></div>
        <div class="dot dot3"></div>
        <div class="dot dot4"></div>
    </div>
  </div>

	<!-- RESULTS PAGE -->
	<section id="results" class="container hidden">
		<div class="row row-sm">
			<div class="col-md-8">
				<h2 class="whitespace-none">URL Successfully Analyzed</h2>
				<h4 class="whitespace-md">Here's the structured data we found</h4>
			</div>
		</div>

		<div class="row row-md">
			<div class="col-md-12">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Metadata</a></li>
					<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Raw JSON Response</a></li>
				</ul>
			</div>
		</div>

		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="home">
				<div class="row">
					<div class="col-md-12">
						<h3 class="whitespace-none">Extracted Metadata</h3>
						<p class="lg whitespace-md">Here's the structured data we were able to parse for the URL:</p>
						<p class="item-title">Title</p>
						<h4 id="title" class="dark"></h4>
						<p class="item-title">Thumbnail</p>
						<img src id="thumb" class="img-responsive">
						<p class="item-title">Permalink</p>
						<p><a href id="userurl"></a></p>
						<p class="item-title">Social Shares</p>
						<div id="socialshares"></div>
						<p class="item-title">Sentiment Analysis</p>
						<p>
							<span id="positive"></span>,
							<span id="negative"></span>,
							<span id="neutral"></span>
						</p>
						<p class="item-title">Tags</p>
						<div id="tags"></div>
						<p class="item-title">Short Summary</p>
						<p id="shortsummary"></p>
						<p class="item-title">Long Summary</p>
						<p id="longsummary"></p>
						<p class="item-title">Full Text</p>
						<p id="fulltext"></p>
						<p class="item-title">Images</p>
						<div class="row row-sm" id="images"></div>
						<p class="item-title">Timestamp</p>
						<p id="timestamp"></p>
						<p class="item-title">Status Code</p>
						<p id="statuscode"></p>
						<p class="item-title">Links</p>
						<ul class="list-unstyled" id="links"></ul>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="profile">
				<div class="row">
					<div class="col-md-12">
						<h3>JSON Object</h3>
						<p>This is the JSON response for the URL:</p>
						<pre><code class="json" id="code"></code></pre>
					</div>
				</div>
			</div>
		</div>
	</section>




<!-- EXPLANATION SECTION -->
	<div class="grey-background">
	<section class="container">
		<div class="row row-md">
			<div class="col-md-12">
				<h2 class="whitespace-none">How it works</h2>
				<h4>Web Page Inspector</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<p>Web Page Inspector attempts to extract the title, full text, both a short and long summary, permalink, social share count, tags, sentiment, and more from a valid URL. In this demo we provie both a UI of the metadata, as well as the raw JSON response.</p>
				<p>It's built using <a href="https://algorithmia.com/algorithms/outofstep/MegaAnalyzeURL">Mega Analyze URL</a>, a microservice wrapper composed of several other microservices: <a href="https://algorithmia.com/algorithms/web/AnalyzeURL">Analyze URL</a>, <a href="https://algorithmia.com/algorithms/nlp/Summarizer">Summarizer</a>, <a href="https://algorithmia.com/algorithms/nlp/SocialSentimentAnalysis">Social Sentiment Analysis</a>, <a href="https://algorithmia.com/algorithms/web/ShareCounts">Count Social Shares</a>, Get Links, <a href="https://algorithmia.com/algorithms/diego/Getimagelinks">Get Image Links</a>, and <a href="https://algorithmia.com/algorithms/tags/AutoTagURL">Auto-Tag URL</a>.</p>
			</div>
		</div>
	</section>
	</div>


<!-- BUILT FOR DEVS -->
  <section class="container">
    <div class="row">
      <div class="col-md-9">
        <h2 class="whitespace-sm">Built For Developers</h2>
        <h4 class="whitespace-md">A simple, scalable API for machine intelligence</h4>
          <p class="item-title">SAMPLE INPUT</p>
          <pre class="whitespace-md"><code class="python hljs"><span class="hljs-keyword">import</span> Algorithmia

input = <span class="hljs-string">"http://thenewstack.io/algorithmia-new-algorithm-economy/"</span>
client = Algorithmia.client(<span class="hljs-string">'API KEY'</span>)
algo = client.algo(<span class="hljs-string">'outofstep/MegaAnalyzeURL/0.1.1'</span>)

<span class="hljs-keyword">print</span> algo.pipe(input)</code></pre>
        <a href="https://algorithmia.com/algorithms/outofstep/MegaAnalyzeURL" class="btn btn-primary-inverse">
          LEARN MORE
        </a>
      </div>
    </div>
  </section>

  <!-- JS -->
  <script src="public/js/TweenMax.min.js"></script>
  <script src="public/js/dots.js"></script>

  <%= footer %>