<%= header_begin %>

<%= segment_script %>

	<title>Deep Learning to Classify Places, Locations, and Scenes in Images – Algorithmia</title>
	<link rel="canonical" href="https://demos.algorithmia.com/<%= slug %>" />
	<meta name="description" content="Use deep learning algorithms to identify places in images with the Places365 Classifier microservice, trained on 1.8 million images to recognize 365 scenes">
	<meta name="robots" content="index,follow">

	<!-- FB -->
	<meta property="og:title" content="Classify Places, Locations, and Scenes in Images">
	<meta property="og:url" content="https://demos.algorithmia.com/classify-places/">
	<meta property="og:description" content="Use deep learning algorithms to identify places in images with the Places365 Classifier microservice, trained on 1.8 million images to recognize 365 scenes">
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="https://demos.algorithmia.com/classify-places/public/images/fbshare.png" />
	<meta property="og:site_name" content="Algorithmia" />

	<!-- TWTR -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@algorithmia" />
	<meta name="twitter:title" content="Classify Places, Locations, and Scenes in Images" />
	<meta name="twitter:description" content="Use deep learning algorithms to identify places in images with the Places365 Classifier microservice, trained on 1.8 million images to recognize 365 scenes" />
	<meta name="twitter:image" content="https://demos.algorithmia.com/classify-places/public/images/twshare.png" />
	<meta name="twitter:creator" content="@algorithmia" />

	<!-- OTHER -->
	<meta itemprop="name" content="Classify Places, Locations, and Scenes in Images">
	<meta itemprop="description" content="Use deep learning algorithms to identify places in images with the Places365 Classifier microservice, trained on 1.8 million images to recognize 365 scenes">

	<%= header_end %>

	<section class="purple-grad-background hero">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h1>Scene Recognition</h1>
					<h4 class="light whitespace-md">Use Deep Learning to Identify and Classify Places</h4>
					<div class="card">
						<h3 class="whitespace">Classify a place</h3>
						<p class="whitespace-none">Paste the URL to an image or <br class="hidden-sm hidden-md hidden-lg hidden-xl" ><a href="javascript:;" id="file-dropzone" ><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> UPLOAD</a></p>
						<form class="form-group" onsubmit="getPlaces(); return false;">
							<input type="text" class="form-control" id="imgUrl" placeholder="http://">
							<a class="btn btn-primary" type="button" onclick="getPlaces()">
								<span class="fa fa-magic" aria-hidden="true"></span>
								Classify It
							</a>
						</form>
						<div id="status-label"></div>
						<h4 class="dark whitespace-sm">Or, try these sample images:</h4>
						<div class="row whitespace-none sample-images">
							<div class="col-xs-4 col-sm-2 sample-image">
								<a onclick="getPlaces('https://s3.amazonaws.com/algorithmia-assets/classifyplaces_static_content/alley.jpg')"><img src="<%= slug %>/public/images/alley.jpg"></a>
							</div>
							<div class="col-xs-4 col-sm-2 sample-image">
								<a onclick="getPlaces('https://s3.amazonaws.com/algorithmia-assets/classifyplaces_static_content/airplane.jpg')"><img src="<%= slug %>/public/images/airplane.jpg"></a>
							</div> 
							<div class="col-xs-4 col-sm-2 sample-image">
								<a onclick="getPlaces('https://s3.amazonaws.com/algorithmia-assets/classifyplaces_static_content/sunset.jpg')"><img src="<%= slug %>/public/images/sunset.jpg"></a>
							</div>
							<div class="col-xs-4 col-sm-2 sample-image">
								<a onclick="getPlaces('https://s3.amazonaws.com/algorithmia-assets/classifyplaces_static_content/utah.jpg')"><img src="<%= slug %>/public/images/utah.jpg"></a>
							</div>
							<div class="col-xs-4 col-sm-2 sample-image">
								<a onclick="getPlaces('https://s3.amazonaws.com/algorithmia-assets/classifyplaces_static_content/market.jpg')"><img src="<%= slug %>/public/images/market.jpg"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	  <div id="overlay" class="container hidden">
	    <div class="dots-text-container">
	      <h3 class="dots-text">Classifying scene...</h3>
	    </div>
	    <div class="dots-container">
	        <div class="dot dot1"></div>
	        <div class="dot dot2"></div>
	        <div class="dot dot3"></div>
	        <div class="dot dot4"></div>
	    </div>
	  </div>

	<!-- RESULTS PAGE -->
	<section class="container hidden" id="results">
		<div class="explanation">
			<div class="row">
				<div class="col-sm-6">
					<img id="userImg">
				</div>
				<div class="col-sm-6">
					<table class="table" id="table">
						<thead>
							<tr>
								<th><p class="item-title">Place Tags</p></th>
								<th><p class="item-title">Probability</p></th>
							</tr>
						</thead>
						<tbody id="results-tbody">
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>

	<!-- EXPLANATION PAGE -->
	<div class="grey-background">
		<section class="container">
			<div class="explanation">
				<div class="row row-md">
					<div class="col-md-12">
						<h2 class="whitespace-none">How it works</h2>
						<h4>Quickly Classify Places, Locations, and Scenes in Images</h4>
					</div>
					<div class="col-md-8">
						<p>Use state-of-the-art deep learning to identify places in images. Just paste in a URL above.</p>
						<p>We're excited to introduce <a href="http://blog.algorithmia.com/2016/07/cloud-hosted-deep-learning-models/" target="_blank">cloud hosted deep learning models</a> on Algorithmia. The <a href="https://algorithmia.com/algorithms/deeplearning/Places365Classifier" target="_blank">Places365 Classifier microservice</a> is a computer vision algorithm trained on ~1.8 million images to recognize 365 scene categories.</p>

						<p>This microservice is an implementation of <a href="https://github.com/metalbubble/places365" target="_blank">Places: An Image Database for Deep Scene Understanding. B. Zhou, A. Khosla, A. Lapedriza, A. Torralba and A. Oliva Arxiv, 2016</a>. Learn more about their work <a href="http://places2.csail.mit.edu/" target="_blank">here</a><!--and <a href="#">how we built this demo</a>-->.</p>
						<p>Let us know what you think <a href="https://twitter.com/algorithmia" target="_blank">@Algorithmia</a> or by <a href="https://algorithmia.com/contact" target="_blank">email</a>.</p>
					</div>
				</div>
			</div>
		</section>
	</div>

  <!-- BUILT FOR DEVS -->
  <section class="container">
    <div class="row">
      <div class="col-md-9">
        <h2 class="whitespace-sm">Built For Developers</h2>
        <h4 class="whitespace-md">A simple, scalable API for machine intelligence</h4>
          <p class="item-title">SAMPLE INPUT</p>
          <pre><code class="python hljs"><span class="hljs-keyword">import</span> Algorithmia

input = {<span class="hljs-string">"image"</span>: <span class="hljs-string">"_IMAGE_URL_"</span>}
client = Algorithmia.client(<span class="hljs-string">'_API_KEY_'</span>)
algo = client.algo(<span class="hljs-string">'deeplearning/Places365Classifier/0.1.8'</span>)

<span class="hljs-keyword">print</span> algo.pipe(input)
</code></pre>
            <p class="item-title">SAMPLE OUTPUT</p>
            <pre><code class="json hljs">{
  <span class="hljs-attr">"predictions"</span>: [
    {<span class="hljs-attr">"class"</span>: <span class="hljs-string">"tower"</span>, <span class="hljs-attr">"prob"</span>: <span class="hljs-number">0.6098036170005801</span>},
    {<span class="hljs-attr">"class"</span>: <span class="hljs-string">"skyscraper"</span>, <span class="hljs-attr">"prob"</span>: <span class="hljs-number">0.14249812066555023</span>},
    {<span class="hljs-attr">"class"</span>: <span class="hljs-string">"office_building"</span>, <span class="hljs-attr">"prob"</span>: <span class="hljs-number">0.04916094988584519</span>},
    {<span class="hljs-attr">"class"</span>: <span class="hljs-string">"downtown"</span>, <span class="hljs-attr">"prob"</span>: <span class="hljs-number">0.02924365177750587</span>},
    {<span class="hljs-attr">"class"</span>: <span class="hljs-string">"church/outdoor"</span>, <span class="hljs-attr">"prob"</span>: <span class="hljs-number">0.028504755347967155</span>}
  ]
}</code></pre>
        <a href="https://algorithmia.com/algorithms/deeplearning/Places365Classifier" class="btn btn-primary-inverse">
          LEARN MORE
        </a>
      </div>
		</div>
		
		<div class="col-md-9" style="padding: 1em; margin-bottom: 1em; background-color: #eee;">
			<h3>Image Credits</h3>
			<ul>
				<li>"<a rel="nofollow" href="https://commons.wikimedia.org/wiki/File:Shoreditch,_Boundary_Passage_-_geograph.org.uk_-_1692305.jpg">Shoreditch, Boundary Passage</a>" by <a rel="nofollow" href="https://www.geograph.org.uk/profile/796">Dr Neil Clifton</a> is licensed under <a rel="nofollow" href="https://creativecommons.org/licenses/by-sa/2.0/deed.en">CC BY-SA 2.0</a></li>
				<li>"<a rel="nofollow" href="https://commons.wikimedia.org/wiki/File:Lufthansa_737_interior.jpg">Lufthansa 737 interior</a>" by <a rel="nofollow" href="https://commons.wikimedia.org/wiki/User:Altair78">Altair78</a> is licensed under <a rel="nofollow" href="https://creativecommons.org/licenses/by-sa/2.0/deed.en">CC BY-SA 2.0</a></li>
				<li>"<a rel="nofollow" href="https://commons.wikimedia.org/wiki/File:%D0%A5%D0%BE%D1%80%D0%B2%D0%B0%D1%82%D0%B8%D1%8F,_%D0%97%D0%B0%D0%BA%D0%B0%D1%82_%D0%B2_%D0%91%D1%80%D0%B5%D0%BB%D0%B0,_2007-06.jpg">Sunset in Brela, Croatia</a>" by <a rel="nofollow" href="https://ru.wikipedia.org/wiki/User:Alexostrov">Островский Александр, Киев</a> is licensed under <a rel="nofollow" href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">CC BY-SA 3.0</a></li>
				<li>"<a rel="nofollow" href="https://commons.wikimedia.org/wiki/File:Arches_1_-_panoramio.jpg">Arches 1</a>" by <a rel="nofollow" href="https://web.archive.org/web/20161023224458/http://www.panoramio.com/user/2412002?with_photo_id=57272302">logopop</a> is licensed under <a rel="nofollow" href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">CC BY-SA 3.0</a></li>
				<li>"<a rel="nofollow" href="https://commons.wikimedia.org/wiki/File:Polish_Market_in_Chicago.jpeg">Polish Market in Chicago</a>" by <a rel="nofollow" href="https://pt.wikipedia.org/wiki/User:Lfcastro">Lfcastro</a> is licensed under <a rel="nofollow" href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">CC BY-SA 3.0</a></li>
			</ul>
		</div>
  </section>

  <!-- JS -->
  <script src="<%= slug %>/public/js/TweenMax.min.js"></script>
  <script src="<%= slug %>/public/js/dots.js"></script>
  <script src="<%= slug %>/public/js/dropzone.js"></script>

  <%= footer %>