<footer>
 <!-- <div class="social-sharing">
    <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="box_count"></div>

    <a href="https://twitter.com/share" class="twitter-share-button" data-via="algorithmia" data-size="small">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
    <script type="IN/Share" data-counter="top"></script>
  </div>

  <div id="logo">
    <a href="https://algorithmia.com" target="_blank">
      <%= image_tag 'powered-by-algorithmia-220x60.png' %>
    </a>
  </div>

  <div id="connect">
    <p>Don't want to miss out on the next cool demo?</p>
      <ul>
        <li><a href="http://blog.algorithmia.com" class="btn btn-info btn-xs">Check out our blog</a></li>
      <ul>
  </div>-->
  <div class="container">
        <div class="pull-left">
          &copy; Algorithmia 2015
        </div>
        <ul class="list-inline pull-right">
          <li><a href="https://algorithmia.com/about">About</a></li>
          <li><a href="https://algorithmia.com/terms">Terms</a></li>
          <li><a href="https://algorithmia.com/privacy">Privacy</a></li>
          <li><a href="http://blog.algorithmia.com" target="_blank">Blog</a></li>
          <li><a href="https://angel.co/algorithmia/jobs/" target="_blank">Jobs</a></li><li>
          </li><li><a href="https://algorithmia.com/contact">Contact</a></li>
        </ul>
    </div>
</footer>
