<footer>
  <div class="container">
        <div class="pull-left">
          &copy; Algorithmia 2016
        </div>
        <ul class="list-inline pull-right">
          <li><a href="https://algorithmia.com/about">About</a></li>
          <li><a href="https://algorithmia.com/terms">Terms</a></li>
          <li><a href="https://algorithmia.com/privacy">Privacy</a></li>
          <li><a href="http://blog.algorithmia.com" target="_blank">Blog</a></li>
          <li><a href="https://angel.co/algorithmia/jobs/" target="_blank">Jobs</a></li><li>
          </li><li><a href="https://algorithmia.com/contact">Contact</a></li>
        </ul>
    </div>
</footer>
