<div class="navbar navbar-default navbar-static-top navbar-public navbar-dark" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="https://algorithmia.com/versioned/images/demos/recommends/c252fbb7a622bafd9d4f38b2e82a608c-logo-white.png" alt="Algorithmia"></a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
              <li><a href="/algorithms"><span>Algorithms</span></a></li>
              <li><a href="/use-cases">Use Cases</a></li>
              <li><a href="/pricing"><span>Pricing</span></a></li>
              <li><a href="http://blog.algorithmia.com/"><span>Blog</span></a></li>
              
                <li>
                  <a class="nav-link nav-username hidden-sm hidden-xs" href="/users/diego">
                    diego
                  </a>
                </li>
              
            </ul>
          </div>
        </div>
</div>
