/*Put Custom Styles Here*/
h1 {font-size: 2.5rem;}
.hero {
    background-image: url(../images/timeseries.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 50%;
}

#timeseries-chart {
	height: 400px;
	text-align: center;
}

#fetch-spinner {
	margin-top: 5em;
}

.variable-select {
	margin-bottom: 1rem;
}
.variable-select h3,
.variable-select h4 {
	font-size: 1rem;
}
select {
	-webkit-appearance: none;
	-moz-appearance: none;
}
.img-placeholder {width:100%;}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    h1 {font-size: 4em;}
    .variable-select h3,
	.variable-select h4 {
		font-size: 1.5rem;
	}
}