/*Put Custom Styles Here*/
h1 {font-size: 2.5rem;}
.hero {
    background-image: url(../images/timeseries.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.viz-main {
  width: 100%;
  height: 360px;
}

.filters .form-control {margin-bottom: 1rem;}
.img-placeholder {height: 100%;}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    h1 {font-size: 4em;}
}