<%= header_begin %>

<title>#isitnude - nudity detector - Algorithmia</title>
<link rel="canonical" href="http://demos.algorithmia.com/isitnude/">
<meta name="description" content="Machine-learning microservice for detecting nudity in images"/>
<meta name="robots" content="index,follow">

<!-- FB -->
<meta property="og:title" content="Nudity Detection Service">
<meta property="og:url" content="http://demos.algorithmia.com/isitnude/">
<meta property="og:description" content="Machine-learning microservice for detecting nudity in images">
<meta property="og:locale" content="en_US">
<meta property="og:type" content="website">
<meta property="og:image" content="http://demos.algorithmia.com/isitnude/public/images/fbshare.jpeg">
<meta property="og:site_name" content="Algorithmia">

<!-- TWTR -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@algorithmia">
<meta name="twitter:title" content="Nudity Detection Service">
<meta name="twitter:description" content="Machine-learning microservice for detecting nudity in images">
<meta name="twitter:image" content="http://demos.algorithmia.com/isitnude/public/images/twshare.jpeg">
<meta name="twitter:creator" content="@matt_kiser">

<!-- OTHER -->
<meta itemprop="name" content="Nudity Detection Service">
<meta itemprop="description" content="Machine-learning microservice for detecting nudity in images">

<%= header_end %>

<section class="purple-grad-background hero">
    <div class="container" id="content">
      <div class="row">
        <div class="col-md-7">
          <h1>#isitnude</h1>
          <h4 class="light whitespace-md">Choose an image and AI will tell you #isitnude</h4>
        </div>
        <div class="col-sm-12 col-md-7">
          <div class="card">
            <h3 class="whitespace">Test a photo</h3>
            <p class="whitespace-none">Paste the URL to an image or <br class="hidden-sm hidden-md hidden-lg hidden-xl" ><a href="javascript:;" id="file-dropzone" ><span class="glyphicon glyphicon-upload" aria-hidden="true"></span>UPLOAD</a></p>
            <form class="form-group" onsubmit="analyzeImage(); return false;">
              <input type="text" class="form-control" id="imgUrl" placeholder="image URL">
              <a class="btn btn-primary" type="button" onclick="analyzeImage()">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                isitnude?
              </a>
            </form>
            <p class="secondary-text">We do not retain images.</p>
            <div id="status-label"></div>
            <h4 class="dark whitespace-sm">Or, try these sample images:</h4>
            <div class="row whitespace-none sample-images">
              <div class="col-xs-4 col-sm-2">
                <a onclick="analyzeImage('http://www.isitnude.com.s3-website-us-east-1.amazonaws.com/assets/images/sample/sunglasses-love-woman-flowers.jpg')"><img src="public/images/thumb01.png" alt="woman"></a>
              </div>
              <div class="col-xs-4 col-sm-2 sample-image">
                <a onclick="analyzeImage('http://www.isitnude.com.s3-website-us-east-1.amazonaws.com/assets/images/sample/obama.jpg')"><img src="public/images/thumb02.png" alt="Obama Swimsuit"></a>
              </div>
              <div class="col-xs-4 col-sm-2 sample-image">
                <a onclick="analyzeImage('http://www.isitnude.com.s3-website-us-east-1.amazonaws.com/assets/images/sample/venus.jpg')"><img src="public/images/thumb03.png" alt="The Birth of Venus"></a>
              </div>
              <div class="col-xs-4 col-sm-2 sample-image">
                <a onclick="analyzeImage('http://www.isitnude.com.s3-website-us-east-1.amazonaws.com/assets/images/sample/family-guy.jpg')"><img src="public/images/thumb04.jpg" alt="Family Guy Peter"></a>
              </div>
              <div class="col-xs-4 col-sm-2 sample-image">
                <a onclick="analyzeImage('http://www.isitnude.com.s3-website-us-east-1.amazonaws.com/assets/images/sample/cosimo-medici-orpheus.jpg')"><img src="public/images/thumb05.png" alt="Cosimo Medici as Orpheus"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="overlay" class="container hidden">
    <div class="dots-text-container">
      <h3 class="dots-text">Determining nudity...</h3>
    </div>
    <div class="dots-container">
        <div class="dot dot1"></div>
        <div class="dot dot2"></div>
        <div class="dot dot3"></div>
        <div class="dot dot4"></div>
    </div>
  </div>
<section class="container hidden" id="results">
  <div class="row">
      <div class="col-md-12 result-wrapper">
        <h4>RATING:</h4>
        <h3 id="result-rating" class="rating"></h3>
        <img id="result-img" src="" alt="analyzed image">
        <p id="result-msg" class="lg"></p>
        <p class="whitespace-none">We apologize if we didn't get it right, we are improving every day.</p>
        <p class="secondary-text">Please note that we cannot detect black and white images.</p>
      </div>

    </div>
</section>

<!-- EXPLANATION -->
<div class="grey-background">
<section class="container">
  <div class="row row-md">
    <div class="col-md-12">
      <h2 class="whitespace-none">How it works</h2>
      <h4>Using artificial intelligence to detect nudity</h4>
    </div>
  </div>
  <div class="row row-md">
    <div class="col-md-8">
      <h3>Tools used</h3>
      <ul>
        <li><a href="https://algorithmia.com/algorithms/sfw/NudityDetectioni2v">NudityDetectioni2v</a> – detects nudity in pictures</li>
      </ul>
    </div>
  </div>
  <div class="row row-md">
    <div class="col-md-8">
      <h3>Method</h3>
      <p>Our algorithm is based on <a href="https://sites.google.com/a/dcs.upd.edu.ph/csp-proceedings/Home/pcsc-2005/AI4.pdf?attredirects=0" target="_blank">existing solutions</a> which detect skin patches and their relative position and size, but also reduces false positives by detecting other features in the image (such as <a href="https://algorithmia.com/algorithms/opencv/FaceDetection" target="_blank">faces</a>) and removing them from consideration, or using them to count the number of people in each image and adjust for skin tone.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h3>Takeaway</h3>
      <p>With just a single call to our API, a developer can easily add nudity-detection, within a given level of confidence, to their application or data processing pipeline.  This allows for easy flagging of inappropriate images, without the need to build or integrate any complex image-processing libraries or machine-learning architecture.</p>
    </div>
  </div>
</section>
</div>

<!-- BUILT FOR DEVS -->
  <section class="container">
    <div class="row">
      <div class="col-md-9">
        <h2 class="whitespace-sm">Built For Developers</h2>
        <h4 class="whitespace-md">A simple, scalable API for machine intelligence</h4>
          <p class="item-title">SAMPLE INPUT</p>
          <pre class="whitespace-md"><code class="python">import Algorithmia

input = "_IMAGE_URL_"
client = Algorithmia.client('_API_KEY_')
algo = client.algo('sfw/NudityDetectioni2v/0.2.5')

print algo.pipe(input)
</code></pre>
            <p class="item-title">SAMPLE OUTPUT</p>
            <pre><code class="json">{
    "nude": true,
    "confidence": 0.93
}</code></pre>
        <a href="https://algorithmia.com/algorithms/deeplearning/ColorfulImageColorization" class="btn btn-primary-inverse">
          LEARN MORE
        </a>
      </div>
    </div>
  </section>

  <!-- JS -->
  <script src="public/js/TweenMax.min.js"></script>
  <script src="public/js/dots.js"></script>
  <script src="public/js/dropzone.js"></script>

  <%= footer %>