@import url("spinner.css");

.hero {    
    background-image: url(../images/newspaper.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
  padding: 1.5rem;

  background-color: rgba(255,255,255,.7);
  border-radius: 0;
  box-shadow: 2px 3px 10px 0 rgba(0,0,0,.54);

}

.form-control {
  width: 95%;
}

header {
  color: rgb(80, 0, 190);
  font-size: 18px;
  font-weight: bold;
}

table td {
  padding-bottom: 3rem;
  vertical-align: top;
}

span.label {
  font-size: 10px;
}

form-group {
  margin-bottom: 6px;
}
