@import url("spinner.css");

.hero {    
    background-image: url(../images/newspaper.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.card .form-control {
  margin-bottom: 1rem;
  width: 95%;
}
.text-danger {display: block; margin-top: .5rem;}

header {
  color: rgb(80, 0, 190);
  font-size: 18px;
  font-weight: bold;
}

.list-number {font-weight: 700; padding-top: .25rem;}
table td {
  padding-bottom: 4rem;
  vertical-align: top;
}
.summary     {margin-bottom: .5rem;}
.sentiment   {padding-left: .5rem; font-size: .75rem; font-weight: 700;}
.sentiment i {font-size: 2rem;}

.fa-frown-o {color: #4640FF;}
.fa-meh-o   {color: #777777;}
.fa-smile-o {color: #5cb85c;}
.tag-label {margin-bottom: 0;}
span.label {
  font-size: .75rem;
  line-height: 2;
}

.form-group {
  margin-bottom: 6px;
}
