/*Put Custom Styles Here*/
.hero {
	background: url(../images/camera-banner.jpg);
	background-size: cover;
}
h1 {font-size: 3rem;} /* To fit cleanly on smaller screens */
/* FORM */
.card {
  padding: 1.5rem;
  padding-bottom: 2rem;
  background-color: rgba(255,255,255,.7);
  border-radius: 0;
  box-shadow: 2px 3px 10px 0 rgba(0,0,0,.54);
}

/* For input bar with btn */
form {
    font-size:      1rem;
    min-height:         46px;
}
form:focus {
    border: 1px solid #5000BE;
    -webkit-box-shadow: none;
    box-shadow:         none;
}
form .btn {margin-bottom: 0;}

.form-control {
    max-width: 100%;
    border-radius: 0;
    height: 2.5rem;
}
.search-form input {width: 100%; margin-bottom: .5rem;}
/* Search results */
#search-results {list-style-type: none; padding: 0; margin: 0;}
/* Ensure video fits to its container */
.video-container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 aspect ratio */
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.video-container iframe, .video-container object, .video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* $MEDIA QUERIES */
/* Extra small devices (phones, less than 768px) */
/* This should be the default AKA no styles here */
/*@media (min-width: @screen-xs-min) {}*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* Bump up tab size for larger screens */
    .nav-tabs           {font-size: 1.25rem;}
    .nav-tabs>li>a      {padding:   .5rem 1rem;}
    .navbar-brand > img {width:     250px;}
    form {
        /* vertical center */
    	display:        flex;
    	align-items:    center;
	}
	.search-form input {margin-bottom: 0;}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {h1 {font-size: 4rem;}}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}