<%= header_begin %>

<title>Video transformations and data extraction - Algorithmia</title>
<link rel="canonical" href="http://demos.algorithmia.com/video-transform/">
<meta name="description" content="Choose an image and our bot will tell you #isitnude"/>
<meta name="robots" content="index,follow">

<!-- FB -->
<meta property="og:title" content="Video transformations and data extraction">
<meta property="og:url" content="http://demos.algorithmia.com/isitnude/">
<meta property="og:description" content="Stylize videos, detect objects, extract metadata, and determine if they're NSFW">
<meta property="og:locale" content="en_US">
<meta property="og:type" content="website">
<meta property="og:image" content="http://demos.algorithmia.com/isitnude/public/images/fbshare.jpeg">
<meta property="og:site_name" content="Algorithmia">

<!-- TWTR -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@algorithmia">
<meta name="twitter:title" content="Video transformations and data extraction">
<meta name="twitter:description" content="Stylize videos, detect objects, extract metadata, and determine if they're NSFW">
<meta name="twitter:image" content="http://demos.algorithmia.com/isitnude/public/images/twshare.jpeg">
<meta name="twitter:creator" content="@matt_kiser">

<!-- OTHER -->
<meta itemprop="name" content="Video transformations and data extraction">
<meta itemprop="description" content="Stylize videos, detect objects, extract metadata, and determine if they're NSFW">

<%= header_end %>

<section class="purple-grad-background hero">
    <div class="container" id="content">
      <div class="row">
        <div class="col-md-7">
          <h1>Video Toolbox</h1>
          <h4 class="light whitespace-md">Video transformations and data extraction</h4>
        </div>
        <div class="col-sm-12 col-md-7">
          <div class="card">
            <h3>1. CHOOSE A VIDEO</h3>
            <div class="row whitespace-md sample-videos">
              <div class="col-xs-4 col-sm-2">
                <a onclick="selectVideo('beach')"><img src="public/images/beach.png" alt="beach" id="video-thumb-beach" class="video-thumb"></a>
              </div>
              <div class="col-xs-4 col-sm-2 sample-image">
                <a onclick="selectVideo('office')"><img src="public/images/office.png" alt="office" id="video-thumb-office" class="video-thumb"></a>
              </div>
              <div class="col-xs-4 col-sm-2 sample-image">
                <a onclick="selectVideo('dog')"><img src="public/images/dog.png" alt="dog" id="video-thumb-dog" class="video-thumb"></a>
              </div>
              <div class="col-xs-4 col-sm-2 sample-image">
                <a onclick="selectVideo('keyboard')"><img src="public/images/keyboard.png" alt="keyboard" id="video-thumb-keyboard" class="video-thumb"></a>
              </div>
            </div>
            <h3>2. CHOOSE A MODIFIER</h3>
            <div class="whitespace-md radio-btns">
              <button name="selectedAlgorithm" class="btn btn-radio" id="button-deepstyle" onclick="selectAlgo('deepstyle')">Deep Style</button>
              <button name="selectedAlgorithm" class="btn btn-radio" id="button-saliency" onclick="selectAlgo('saliency')">Saliency</button>
              <button name="selectedAlgorithm" class="btn btn-radio" id="button-colorization" onclick="selectAlgo('colorization')">Colorization</button>
              <!--<button name="selectedAlgorithm" class="btn btn-radio" id="button-metadata" onclick="selectAlgo('metadata'">Extract Metadata Style</button>-->
              <!--<button name="selectedAlgorithm" class="btn btn-radio" id="button-nsfw" onclick="selectAlgo('nsfw'">NSFW Detector</button>-->
            </div>
            <form class="form-group" onsubmit="analyze(); return false">
              <button class="btn btn-primary">
                  <span id="analyze-button-text">
                      <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                      Transform Video
                  </span>
              </button>
            </form>
            <div id="status-label"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="overlay" class="container hidden">
    <div class="dots-text-container">
      <h3 class="dots-text">Boom...</h3>
    </div>
    <div class="dots-container">
        <div class="dot dot1"></div>
        <div class="dot dot2"></div>
        <div class="dot dot3"></div>
        <div class="dot dot4"></div>
    </div>
  </div>
<section class="container hidden results" id="results-deepstyle">
  <div class="row">
    <h4 class="result-title col-sm-12">Deep Style</h4>
    <video class="result-input col-sm-6" controls></video>
    <video class="result-output col-sm-6" onloadeddata="playVideos()" controls>
      Your video is ready to <a class="result-link">download</a>.
    </video>
  </div>
</section>
<section class="container hidden results" id="results-saliency">
  <div class="row">
    <h4 class="result-title col-sm-12">Saliency</h4>
    <video class="result-input col-sm-6" controls></video>
    <video class="result-output col-sm-6" onloadeddata="playVideos()" controls>
      Your video is ready to <a class="result-link">download</a>.
    </video>
  </div>
</section>
<section class="container hidden results" id="results-colorization">
  <div class="row">
    <h4 class="result-title col-sm-12">Colorization</h4>
    <video class="result-input col-sm-6" controls></video>
    <video class="result-output col-sm-6" onloadeddata="playVideos()" controls>
      Your video is ready to <a class="result-link">download</a>.
    </video>
  </div>
</section>
<section class="container hidden results" id="results-metadata">
  <div class="row">
    <h4 class="result-title">Metadata results go here</h4>
    <img class="result-output" src="" alt="analyzed image">
  </div>
</section>
<section class="container hidden results" id="results-nsfw">
  <div class="row">
    <h4 class="result-title">NSFW results go here</h4>
    <img class="result-output" src="" alt="analyzed image">
  </div>
</section>

<!-- EXPLANATION -->
<div class="grey-background">
<section class="container">
  <div class="row row-md">
    <div class="col-md-12">
      <h2 class="whitespace-none">How it works</h2>
      <h4>Applying machine learning algorithms to entire videos</h4>
    </div>
  </div>
  <div class="row row-md">
    <div class="col-md-8">
      <h3>Tools used</h3>
      <ul>
        <li><a href="https://algorithmia.com/algorithms/media/VideoTransform">VideoTransform</a> – transform a video with image algorithms</li>
        <li><a href="https://algorithmia.com/algorithms/media/DeepFilter">DeepFilter</a> – create interesting photo filters with deep learning</li>
        <li><a href="https://algorithmia.com/algorithms/deeplearning/SalNet">SalNet</a> – detect salient items (objects, people, etc) within an image</li>
        <li><a href="https://algorithmia.com/algorithms/deeplearning/ColorfulImageColorization">ColorfulImageColorization</a> – uses deep learning to artificially color images</li>
      </ul>
    </div>
  </div>
  <div class="row row-md">
    <div class="col-md-8">
      <h3>Method</h3>
      <p>This algorithm uses an image processing algorithm to alter each frame of a video, then recombines it back into a freshly transformed video file.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h3>Takeaway</h3>
      <p>You can now use many of our powerful image filters on entire videos. We take care of the complex machine-learning processes as well as the splitting and recombination of the video files, all within a powerful cloud-based parallel pipeline, touched off by just a single API call.</p>
    </div>
  </div>
</section>
</div>

<!-- BUILT FOR DEVS -->
  <section class="container">
    <div class="row">
      <div class="col-md-9">
        <h2 class="whitespace-sm">Built For Developers</h2>
        <h4 class="whitespace-md">A simple, scalable API for machine intelligence</h4>
          <p class="item-title">SAMPLE INPUT</p>
          <pre class="whitespace-md"><code class="python">import Algorithmia

client = Algorithmia.client('_API_KEY_')
algo = client.algo('media/VideoTransform/0.2.21')
input = {
   "input_file":"data://media/videos/beach.mp4",
   "output_file":"data://.algo/temp/beach_filtered.mp4",
   "algorithm":"algo://deeplearning/DeepFilter"
}
print algo.pipe(input)
</code></pre>
            <p class="item-title">SAMPLE OUTPUT</p>
            <pre><code class="json">{
    "output_file":"data://.algo/temp/beach_filtered.mp4"
}</code></pre>
        <a href="https://algorithmia.com/algorithms/deeplearning/ColorfulImageColorization" class="btn btn-primary-inverse">
          LEARN MORE
        </a>
      </div>
    </div>
  </section>

  <!-- JS -->
  <script src="public/js/TweenMax.min.js"></script>
  <script src="public/js/dots.js"></script>
  <script src="public/js/dropzone.js"></script>

  <%= footer %>