.hero {
    background-image: url(../images/web-page-inspector-hero.jpg);
    background-size: cover;
    background-position: 50%;
}

.sample-image {
	padding-right: 0;
	margin-bottom: .5rem;
}
.sample-image:hover img {opacity: .7;}

.feature {margin-bottom: 2rem;}


#twoface-demo canvas {
  max-width:100%;
}

.list-unstyled {
	display: block;
    overflow-wrap: break-word;
}

.label-success {
    background-color: #9963ff;
}

#userImg {
	width: 100%;
}
#images img {
	border: 1px solid rgba(0,0,0,.12);
	margin-bottom: .5rem;
}
#thumb,
#socialshares,
#tags {margin-bottom: 1rem;}
.label  {
  border-radius: 0;
}
.label-primary {
  background-color: #5000BE;
}
.tag-label {margin-bottom: 0;}
span.label {
  font-size: .75rem;
  line-height: 2;
}

/* $MEDIA QUERIES */
/* Extra small devices (phones, less than 768px) */
/* This should be the default AKA no styles here */
/*@media (min-width: @screen-xs-min) {}*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    form {
        /* vertical center */
    	display:        flex;
    	align-items:    center;
	}
	.form-group input {margin-bottom: 0;}
	.sample-image {
		margin-bottom: 0;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.feature {margin-bottom: 0;}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}