@import 'custom.css';
@import 'dots.css';

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
  font-weight: 400;
  margin-bottom: 60px;
  color: #444a55;
}

.main {
  margin: 5%;
}

header {
  position: relative;
  top: 0;
  width: 100%;
  padding: 1em;
  margin-bottom: 2em;
}

footer {
  position: absolute;
  height: 30px;
  bottom: 0;
  width: 100%;
  text-align: center;
  vertical-align: baseline;

  @include respond-min(45em) {
    padding: 1em;
  }
}

p {
    line-height: 1.67em;
}


ul {
  -webkit-padding-start: 0;
}

li {
  list-style-type: none;
  display: inline-block;
}


.btn {
  /*margin: .25em;*/
  background-color: $purple-highlight;
  border: 1px solid $purple-dark;
  color: $purple-dark;

  &:hover {
    background-color: $purple-lighter;
    border: 1px solid $purple-highlight;
    color: $purple-highlight;
  }
}

.navbar {
  min-height: 80px;
  margin-bottom: 0;
}

.navbar-brand {
  height: 80px;
}

.navbar-brand > img {
  height: 45px;
  width: auto;
}

.navbar-default {
  background-color: #444a55;
  border-bottom: 0px;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  line-height: 45px;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #c9c7cb;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color:$purple-dark;
  font-weight: 500;
}

h1 {
    font-size: 50px;
    font-weight: 500;
    padding-bottom: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: 'Lato', sans-serif;
    /*text-shadow: 0 2px #444a55;*/
    color: #fff;
}

h2 {
    font-size: 35px;
    font-weight: 200;
    padding-bottom: 25px;
    line-height: 56px;
    font-family: 'Lato', sans-serif;
    color: #fff;
    margin-top: 0px;

}

h2.lead {
    margin-bottom: 40px;
}

h3 {
    color: #4f3393;
    font-size: 30px;
    font-weight: 300;
    padding-bottom: .67em;
    line-height: 1.33em;
}

h3.panel-title {
    padding-bottom: 0px;
}
.concept-item h3 {
    line-height: normal;
}

h4 {
    font-weight: 500;
    font-size: 20px;
    padding-bottom: .67em;
    line-height: 1.33em;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
}



a {
  color: #5000be;
}

a:hover, a:focus{
  color: #6717ff;
}
.btn-primary {
  background-color: #9963ff;
  font-weight: 500;
  border-radius: 2px;
  /*background-color: #337ab7;*/
  border-color: #9963ff;
  /*border: 1px solid;*/
  font-weight: 500;
}

.btn-primary:hover {
  background-color: #7830ff;
  border: 1px solid #7830ff;
  color: #fff;
}

.btn-primary:active {
  background-color: #7830ff;
  border: 1px solid #7830ff;
  color: #fff;
}

.btn-primary:focus {
  background-color: #7830ff;
  border: 1px solid #7830ff;
  color: #fff;
}
.btn-primary:focus:active {
  background-color: #7830ff;
  border: 1px solid #7830ff;
  color: #fff;
}
.btn-primary:focus:focus {
  background-color: #7830ff;
  border: 1px solid #7830ff;
  color: #fff;
  
}

.btn-info {
  margin: .25em;
  background-color: $purple-highlight;
  border: 1px solid $purple-dark;
  color: $purple-dark;

  &:hover {
    background-color: $purple-lighter;
    border: 1px solid $purple-highlight;
    color: $purple-highlight;
  }

}

.media-heading {
  padding: 1.5em .5em 1.5em 0;
}

.operation {
  font-size: 1.5em;
  vertical-align: middle;
}

.form-group code {
    background-color: #444a55;
    color: #fff;
}


code {
  cursor: pointer;
}


a>code:hover{
    color:#9963ff;
}

.form-control {
  max-width: 75%;
  display: inline-block;
}

.hero-background {
    background-image: url(../images/deep-learning-place-classifier-hero.jpg);
    background-size: cover;
    background-position: 50%;
    /*background-position-x: 325px;*/
}

#content {
    width: 100%;
}

#pitch {
    padding: 90px 0;
    color: #fff;
}

.main-content {
    padding-top: 30px;
}

.well {
  background-color:rgba(68,74,85,0.5);
  border: 0px;
}
/*.octocat {
  display: inline-block;
  max-height: 200px;
  }*/
/*
.algorithm-form {
  margin: 5%;
  text-align: left;
  }*/

  /*// recommendations*/
/*.tabs {
  margin-left: 5%;
  margin-right: 5%;
  border: 1px solid #ddd;
  padding: 5%;
}
*/

/*.panel-info {
  border-color: $purple-dark;
}

.panel-info > .panel-heading {
  color: $purple-dark;
  background-color: $purple-highlight;
  border-color: $purple-dark;
  text-align: center;
  font-size: 1.5em;
  font-weight: 800;
}
*/

/*  .fb_iframe_widget {
    vertical-align: super;
  }

  #logo {
    width: 50%;
    margin: auto;
  }

  #connect {
    width: 50%;
    margin: auto;*/
/*
.score-grade {
  font-family: $marker-font;
  font-size: 5em;
}
*/


/*#scores {
  text-align: center;

  .score_caption {
    // choose font and put it here
  }

  .row-centered {
    text-align:center;
  }

  .col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
/*    text-align:left;
     inline-block space fix 
    margin-right:-4px;
  }
}*/