/*Put Custom Styles Here*/


#twoface-demo canvas {
  max-width:100%;
}

.sample-images {
	max-width:100%;
	border:1px white solid;
}

pre {
	padding: 0px;
	margin: 13px;
	border: 0px;
}

.label-success {
    background-color: #9963ff;
}

#userImg {
	width: 100%;
}

#social {
	margin-top: 20px;
	text-align: center;
}

.sample-images {
	cursor: pointer;
}

.dz-message {
	border: 1px dashed white;
	text-align: center;
	cursor: pointer;
	background-color: rgba(90, 90, 90, .8);
	font-size: 13px;
	max-width: 300px;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	.dz-message { height: 109px; line-height: 109px; padding-top: 0px }
}
@media only screen and (min-width : 360px) {
	.dz-message { height: 129px; line-height: 129px; padding-top: 0px }
}
@media only screen and (min-width : 768px) {
	.dz-message { height: 300px; line-height: 300px; padding-top: 0px;}
}
@media only screen and (min-width : 992px) {
	.dz-message { height: 60px; line-height: normal; padding-top: 8px; }
}
@media only screen and (min-width : 1200px) {
	.dz-message { height: 79px; line-height: normal; padding-top: 20px; }
}