<%= header_begin %>

<title>Site Mapper - Algorithmia</title>

<%= header_end %>

<section class="hero purple-grad-background">
  <div class="container">

    <div class="row row-sm">
      <div class="col-md-8">
        <h1>Site Mapper</h1>
        <h4 class="light whitespace-md">Ever wondered what your domain/website looks like to the robots crawling it ?</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card">
        <!-- Inputs -->
          <form onsubmit="scrape(); return false;">
            <div class="row whitespace-none">
              <div class="col-xs-12 col-sm-10 whitespace-sm">
                <label>Website URL to scrape</label>
                <input type="text" class="form-control url" id="siteUrl">
              </div>
              <div class="col-xs-4 col-sm-2 whitespace-sm depth-wrapper">
                <label title="Sets the maximum number of pages to crawl">Depth</label>
                <input type="number" min="0" max="3" class="form-control depth" id="depthLimit">
              </div>
            </div>
            <div class="row whitespace-none">
              <div class="col-md-12">
                  <button class="btn btn-primary btn-dots" type="button" onclick="scrape()">
                    <span> <!-- Add class no-viz onClick -->
                      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                      Map Site
                    </span>
                      <div class="dots-container hidden">
                        <div class="dot dot1"></div>
                        <div class="dot dot2"></div>
                        <div class="dot dot3"></div>
                        <div class="dot dot4"></div>
                    </div>
                  </button>
                <span id="scrape-status"></span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- RESULTS -->
<section id="results" class="container">
  <div class="row row-md"> <!-- tab row -->
    <div class="col-sm-7">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#viz" aria-controls="viz" role="tab" data-toggle="tab">Sitemap Vizualization</a></li>
        <li role="presentation"><a href="#pagerank-list" aria-controls="pagerank-list" role="tab" data-toggle="tab">Pagerank</a></li>
      </ul>
    </div>
  </div>
  <div class="row"> <!-- Containing row -->
    <div class="col-sm-7 tab-content">
    <!-- Tab pane -->
      <div role="tabpanel" class="tab-pane active" id="viz">
        <div class="row row-md">
          <div class="col-md-12">
            <div class="viz-panel">
              <img src="public/images/placeholder02.png" class="placeholder">

              <!-- Viz from: http://www.redotheweb.com/CodeFlower/ -->
              <!-- <img src="public/images/pagerank_scale.svg" class="scale" title="Color Scale" ng-show="pagerank" ng-animate="'fade'" ng-cloak>-->
              <!--  <svg class="viz">
                <g class="viewport">
                  <g class="bottom"></g>
                  <g class="middle"></g>
                  <g class="top"></g>
                </g>
              </svg> -->

            <!--<graph data="siteMap"></graph>-->

            </div>
          </div>
        </div>
      </div>
      <!-- Tab pane -->
      <div role="tabpanel" class="tab-pane" id="pagerank-list">
        <div class="row row-md">
          <div class="col-md-12">
            <div class="pagerank-panel">
              <div class="row whitespace-sm" id="pagerank-sorted"></div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- End tabbed content col -->

    <div class="col-sm-5" id="link-details" style="display: none">
      <p class="lg item-title">PAGE DATA</p>
      <p class="item-title">URL</p>
      <p><a id="link-url"></a></p>
      <p class="item-title">PAGERANK</p>
      <p id="link-rank"></p>
      <p class="item-title">GENERATED SUMMARY</p>
      <p id="link-summary"></p>
      <p class="item-title">GENERATED TAGS</p>
      <div class="tags" id="link-tags">
        <span class="aspinner demo-spinner"></span>
      </div>
    </div>
  </div> <!-- End containing row -->

</section>

<!-- EXPLANATION -->
<div class="grey-background border-bottom">
<section class="container">
  <div class="row row-md">
    <div class="col-md-12">
      <h2 class="whitespace-none">How it works</h2>
      <h4>Using computer vision to search unstructured video</h4>
    </div>
  </div>
  <div class="row row-md">
    <div class="col-md-8">
      <h3>Tools used</h3>
      <ul>
        <li><a href="">Socrata Open Data Query</a> – pulls the permit data from Socrata</li>
        <li><a href="">Simple Moving Average</a> – uses local average to smooth data</li>
        <li><a href="">Linear Detrend</a> – removes increasing or decreasing trends in time series</li>
        <li><a href="">Autocorrelate</a> – used to analyze the seasonality of a time series</li>
        <li><a href="">Remove Seasonality</a> – removes known seasonal effects from a time series</li>
        <li><a href="">Outlier Detection</a> – flags unusual data points</li>
        <li><a href="">Forecast</a> – predict a given time series into the future</li>
      </ul>
    </div>
  </div>
  <div class="row row-md">
    <div class="col-md-8">
      <h3>Source Data</h3>
      <p>We use an algorithm to directly access Socrata’s API that can be found here.</p>
      <p>Once we’ve retrieved the data, we aggregate it by total number of permits issued per month, and plot this data. To make the graph clearer, it sometimes helps to smooth or denoise the data. There are a number of ways to do this, with moving averages being the most popular. The most intuitive is the Simple Moving Average, which replaces each point by the average of itself and some number of the preceding points (default is 3).</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h3>Takeaway</h3>
      <p>The takeaway from this example is not the individual pieces – most of these techniques are available a number of places. The secret here is that it is simple, composable, and fully automated. Once one person writes a data connector in Algorithmia (which is likely to happen for interesting public data, like that provided by Socrata), you don’t have to burn precious time writing and working kinks out of your own. On the other hand, if something existing gets done better, the compositional nature of Algorithmia will allow you to swap out pieces of a pipeline seamlessly. When someone comes up with a better outlier detector, then upgrading a pipeline like the one above can be literally just a few keystrokes away.</p>
    </div>
  </div>
</section>
</div>

  <!-- BUILT FOR DEVS -->
  <section class="container">
    <div class="row">
      <div class="col-md-9">
        <h2 class="whitespace-sm">Built For Developers</h2>
        <h4 class="whitespace-md">A simple, scalable API for machine intelligence</h4>
          <p class="item-title">SAMPLE INPUT</p>
          <pre class="whitespace-md"><code class="python hljs"><span class="hljs-keyword">import</span> Algorithmia
client = Algorithmia.client(<span class="hljs-string">'API KEY'</span>)
algo = client.algo(<span class="hljs-string">'web/GetLinks/0.1.5'</span>)
<span class="hljs-keyword">print</span> algo.pipe(<span class="hljs-string">"https://algorithmia.com"</span>)</code>
</pre>
            <p class="item-title">SAMPLE OUTPUT</p>
            <pre><code class="json hljs">[
  "http://developers.algorithmia.com",
  "https://algorithmia.com/terms",
  ...
]</code></pre>
        <a href="https://algorithmia.com/algorithms/media/VideoMetadataExtraction" class="btn btn-primary-inverse">
          LEARN MORE
        </a>
      </div>
    </div>
  </section>

<!-- JS -->

<script src="public/js/d3.min.js"></script>
<script src="public/js/algorithmia.d3.js"></script>

<%= footer %>